## DATA ANALYSIS IN JULIA WITH DATAFRAMES #1 
### Introduction To DataFrames.jl
### Packages
+ Pkg.add("DataFrames")
+ Pkg.add("Requests")

In [ ]:
using DataFrames,Requests

In [2]:
# Functionalities of DataFrames
whos(DataFrames)

                             &      0 bytes  Base.#&
                     @csv2_str      0 bytes  DataFrames.#@csv2_str
                      @csv_str      0 bytes  DataFrames.#@csv_str
                         @data      0 bytes  DataArrays.#@data
                      @formula      0 bytes  DataFrames.#@formula
                        @pdata      0 bytes  DataArrays.#@pdata
                      @tsv_str      0 bytes  DataFrames.#@tsv_str
                      @wsv_str      0 bytes  DataFrames.#@wsv_str
                           AIC      0 bytes  StatsBase.#AIC
                          AICc      0 bytes  StatsBase.#AICc
             AbstractContrasts     92 bytes  DataType
             AbstractDataArray     80 bytes  UnionAll
             AbstractDataFrame     92 bytes  DataType
            AbstractDataMatrix     40 bytes  UnionAll
            AbstractDataVector     40 bytes  UnionAll
             AbstractHistogram    120 bytes  UnionAll
               AbstractWeights    120 bytes  UnionAll
               AnalyticWeights    120 bytes  UnionAll
                           BIC      0 bytes  StatsBase.#BIC
                     CoefTable    176 bytes  DataType
               ContrastsCoding    176 bytes  DataType
          ConvergenceException     40 bytes  UnionAll
                     DataArray     80 bytes  UnionAll
                    DataArrays  20615 KB     Module
                     DataFrame    164 bytes  DataType
                  DataFrameRow     40 bytes  UnionAll
                    DataFrames  20920 KB     Module
                    DataMatrix     40 bytes  UnionAll
                    DataVector     40 bytes  UnionAll
                   DummyCoding    124 bytes  DataType
                    EachDropNA     40 bytes  UnionAll
                    EachFailNA     40 bytes  UnionAll
                 EachReplaceNA     80 bytes  UnionAll
                 EffectsCoding    124 bytes  DataType
                      FastPerm    120 bytes  UnionAll
                       Formula    188 bytes  DataType
              FrequencyWeights    120 bytes  UnionAll
                  GroupApplied    164 bytes  DataType
              GroupedDataFrame    200 bytes  DataType
                 HelmertCoding    124 bytes  DataType
                     Histogram    120 bytes  UnionAll
                        L1dist      0 bytes  StatsBase.#L1dist
                        L2dist      0 bytes  StatsBase.#L2dist
                      Linfdist      0 bytes  StatsBase.#Linfdist
                    ModelFrame    188 bytes  DataType
                   ModelMatrix     80 bytes  UnionAll
                            NA #=ERROR: unable to show value=#
                   NAException    112 bytes  DataType
                        NAtype     92 bytes  DataType
               PooledDataArray    120 bytes  UnionAll
              PooledDataMatrix     80 bytes  UnionAll
                PooledDataVecs      0 bytes  DataArrays.#PooledDataVecs
              PooledDataVector     80 bytes  UnionAll
            ProbabilityWeights    120 bytes  UnionAll
                            R2      0 bytes  StatsBase.#R2
               RegressionModel     92 bytes  DataType
                            R²      0 bytes  StatsBase.#R²
              StatisticalModel     92 bytes  DataType
                     StatsBase    675 KB     Module
                  SubDataFrame     40 bytes  UnionAll
                       Weights    120 bytes  UnionAll
                      _moment2      0 bytes  StatsBase.#_moment2
                      _moment3      0 bytes  StatsBase.#_moment3
                      _moment4      0 bytes  StatsBase.#_moment4
                      _momentk      0 bytes  StatsBase.#_momentk
                    addcounts!      0 bytes  StatsBase.#addcounts!
                         adjR2      0 bytes  StatsBase.#adjR2
                         adjR²      0 bytes  StatsBase.#adjR²
                         adjr2      0 bytes  StatsBase.#adjr2
                         adjr²      0 bytes  StatsBase.#adjr2
                     aggregate      0 bytes  DataFrames.#aggregate
                           aic      0 bytes  StatsBase.#aic
                          aicc      0 bytes  StatsBase.#aicc
                         allna      0 bytes  DataArrays.#allna
                         anyna      0 bytes  DataArrays.#anyna
                       autocor      0 bytes  StatsBase.#autocor
                      autocor!      0 bytes  StatsBase.#autocor!
                       autocov      0 bytes  StatsBase.#autocov
                      autocov!      0 bytes  StatsBase.#autocov!
                      aweights      0 bytes  StatsBase.#aweights
                           bic      0 bytes  StatsBase.#bic
                            by      0 bytes  DataFrames.#by
                          coef      0 bytes  StatsBase.#coef
                     coefnames      0 bytes  DataFrames.#coefnames
                     coeftable      0 bytes  StatsBase.#coeftable
                       colwise      0 bytes  DataFrames.#colwise
                       combine      0 bytes  DataFrames.#combine
                       compact      0 bytes  DataArrays.#compact
                   competerank      0 bytes  StatsBase.#competerank
                complete_cases      0 bytes  DataFrames.#complete_cases
               complete_cases!      0 bytes  DataFrames.#complete_cases!
                 completecases      0 bytes  DataFrames.#completecases
                completecases!      0 bytes  DataFrames.#completecases!
                       confint      0 bytes  StatsBase.#confint
                       cor2cov      0 bytes  StatsBase.#cor2cov
                    corkendall      0 bytes  StatsBase.#corkendall
                   corspearman      0 bytes  StatsBase.#corspearman
                       counteq      0 bytes  StatsBase.#counteq
                      countmap      0 bytes  StatsBase.#countmap
                       countne      0 bytes  StatsBase.#countne
                        counts      0 bytes  StatsBase.#counts
                       cov2cor      0 bytes  StatsBase.#cov2cor
                      crosscor      0 bytes  StatsBase.#crosscor
                     crosscor!      0 bytes  StatsBase.#crosscor!
                      crosscov      0 bytes  StatsBase.#crosscov
                     crosscov!      0 bytes  StatsBase.#crosscov!
                  crossentropy      0 bytes  StatsBase.#crossentropy
                           cut      0 bytes  DataArrays.#cut
                          data      0 bytes  DataArrays.#data
                   deleterows!      0 bytes  DataFrames.#deleterows!
                     denserank      0 bytes  StatsBase.#denserank
                      describe      0 bytes  StatsBase.#describe
                      deviance      0 bytes  StatsBase.#deviance
                            df      0 bytes  StatsBase.#df
                   df_residual      0 bytes  StatsBase.#df_residual
                           dof      0 bytes  StatsBase.#dof
                  dof_residual      0 bytes  StatsBase.#dof_residual
                        dropna      0 bytes  DataArrays.#dropna
                   each_dropna      0 bytes  DataArrays.#each_dropna
                   each_failna      0 bytes  DataArrays.#each_failna
                each_replacena      0 bytes  DataArrays.#each_replacena
                       eachcol      0 bytes  DataFrames.#eachcol
                       eachrow      0 bytes  DataFrames.#eachrow
                          ecdf      0 bytes  StatsBase.#ecdf
                       eltypes      0 bytes  DataFrames.#eltypes
                       entropy      0 bytes  StatsBase.#entropy
                        findat      0 bytes  StatsBase.#findat
                           fit      0 bytes  StatsBase.#fit
                          fit!      0 bytes  StatsBase.#fit!
                        fitted      0 bytes  StatsBase.#fitted
                      fweights      0 bytes  StatsBase.#fweights
                       genmean      0 bytes  StatsBase.#genmean
                       geomean      0 bytes  StatsBase.#geomean
                    getpoolidx      0 bytes  DataArrays.#getpoolidx
                        gkldiv      0 bytes  StatsBase.#gkldiv
                            gl      0 bytes  DataArrays.#gl
                       groupby      0 bytes  DataFrames.#groupby
                      harmmean      0 bytes  StatsBase.#harmmean
                          head      0 bytes  DataFrames.#head
                      indexmap      0 bytes  StatsBase.#indexmap
                  indicatormat      0 bytes  StatsBase.#indicatormat
                       insert!      0 bytes  Base.#insert!
                   inverse_rle      0 bytes  StatsBase.#inverse_rle
                           iqr      0 bytes  StatsBase.#iqr
                          isna      0 bytes  DataArrays.#isna
                          keys      0 bytes  Base.#keys
                  kldivergence      0 bytes  StatsBase.#kldivergence
                      kurtosis      0 bytes  StatsBase.#kurtosis
                        levels      0 bytes  DataArrays.#levels
                     levelsmap      0 bytes  StatsBase.#levelsmap
                 loglikelihood      0 bytes  StatsBase.#loglikelihood
                           mad      0 bytes  StatsBase.#mad
                         maxad      0 bytes  StatsBase.#maxad
                  mean_and_cov      0 bytes  StatsBase.#mean_and_cov
                  mean_and_std      0 bytes  StatsBase.#mean_and_std
                  mean_and_var      0 bytes  StatsBase.#mean_and_var
                        meanad      0 bytes  StatsBase.#meanad
                          melt      0 bytes  DataFrames.#melt
                        meltdf      0 bytes  DataFrames.#meltdf
                        middle      0 bytes  Base.#middle
                     midpoints      0 bytes  Base.#midpoints
                          mode      0 bytes  StatsBase.#mode
                model_response      0 bytes  StatsBase.#model_response
                         modes      0 bytes  StatsBase.#modes
                        moment      0 bytes  StatsBase.#moment
                           msd      0 bytes  StatsBase.#msd
                        names!      0 bytes  DataFrames.#names!
                          ncol      0 bytes  DataFrames.#ncol
                          nobs      0 bytes  StatsBase.#nobs
                     nonunique      0 bytes  DataFrames.#nonunique
                     nquantile      0 bytes  StatsBase.#nquantile
                          nrow      0 bytes  DataFrames.#nrow
                     nullable!      0 bytes  DataFrames.#nullable!
                  nulldeviance      0 bytes  StatsBase.#nulldeviance
             nullloglikelihood      0 bytes  StatsBase.#nullloglikelihood
                         order      0 bytes  DataFrames.#order
                   ordinalrank      0 bytes  StatsBase.#ordinalrank
                          pacf      0 bytes  StatsBase.#pacf
                         pacf!      0 bytes  StatsBase.#pacf!
                         padNA      0 bytes  DataArrays.#padNA
                         padna      0 bytes  DataArrays.#padna
                         pdata      0 bytes  DataArrays.#pdata
                    percentile      0 bytes  StatsBase.#percentile
                          pool      0 bytes  DataFrames.#pool
                         pool!      0 bytes  DataFrames.#pool!
                       predict      0 bytes  StatsBase.#predict
                      predict!      0 bytes  StatsBase.#predict!
                    printtable      0 bytes  DataFrames.#printtable
                 proportionmap      0 bytes  StatsBase.#proportionmap
                   proportions      0 bytes  StatsBase.#proportions
                          psnr      0 bytes  StatsBase.#psnr
                      pweights      0 bytes  StatsBase.#pweights
                            r2      0 bytes  StatsBase.#r2
                         randi      0 bytes  StatsBase.#randi
                      read_rda      0 bytes  DataFrames.#read_rda
                     readtable      0 bytes  DataFrames.#readtable
                        rename      0 bytes  DataFrames.#rename
                       rename!      0 bytes  DataFrames.#rename!
                  renyientropy      0 bytes  StatsBase.#renyientropy
                       reorder      0 bytes  DataArrays.#reorder
                      replace!      0 bytes  DataArrays.#replace!
                     residuals      0 bytes  StatsBase.#residuals
                           rle      0 bytes  StatsBase.#rle
                          rmsd      0 bytes  StatsBase.#rmsd
                            r²      0 bytes  StatsBase.#r2
                        sample      0 bytes  StatsBase.#sample
                       sample!      0 bytes  StatsBase.#sample!
                    samplepair      0 bytes  StatsBase.#samplepair
                    scattermat      0 bytes  StatsBase.#scattermat
                           sem      0 bytes  StatsBase.#sem
                 setcontrasts!      0 bytes  DataFrames.#setcontrasts!
                     setlevels      0 bytes  DataArrays.#setlevels
                    setlevels!      0 bytes  DataArrays.#setlevels!
                      showcols      0 bytes  DataFrames.#showcols
                      skewness      0 bytes  StatsBase.#skewness
                          span      0 bytes  StatsBase.#span
                      sqL2dist      0 bytes  StatsBase.#sqL2dist
                         stack      0 bytes  DataFrames.#stack
                       stackdf      0 bytes  DataFrames.#stackdf
                        stderr      0 bytes  StatsBase.#stderr
                          stdm      0 bytes  Base.#stdm
                  summarystats      0 bytes  StatsBase.#summarystats
                          tail      0 bytes  DataFrames.#tail
                      tiedrank      0 bytes  StatsBase.#tiedrank
                          trim      0 bytes  StatsBase.#trim
                         trim!      0 bytes  StatsBase.#trim!
                      trimmean      0 bytes  StatsBase.#trimmean
                       trimvar      0 bytes  StatsBase.#trimvar
                       unique!      0 bytes  DataFrames.#unique!
                       unstack      0 bytes  DataFrames.#unstack
                        values      0 bytes  Base.#values
                     variation      0 bytes  StatsBase.#variation
                          varm      0 bytes  Base.#varm
                          vcov      0 bytes  StatsBase.#vcov
                       weights      0 bytes  StatsBase.#weights
                        winsor      0 bytes  StatsBase.#winsor
                       winsor!      0 bytes  StatsBase.#winsor!
                         wmean      0 bytes  StatsBase.#wmean
                       wmedian      0 bytes  StatsBase.#wmedian
                     wquantile      0 bytes  StatsBase.#wquantile
                    writetable      0 bytes  DataFrames.#writetable
                       wsample      0 bytes  StatsBase.#wsample
                      wsample!      0 bytes  StatsBase.#wsample!
                          wsum      0 bytes  StatsBase.#wsum
                         wsum!      0 bytes  StatsBase.#wsum!
                           xor      0 bytes  Base.#xor
                        zscore      0 bytes  StatsBase.#zscore
                       zscore!      0 bytes  StatsBase.#zscore!
                             |      0 bytes  Base.#|

### Reading Dataframes

In [3]:

df = readtable("iris.csv")

150×5 DataFrames.DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species     │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼─────────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ "setosa"    │
│ 2   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │ "setosa"    │
│ 3   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ "setosa"    │
│ 4   │ 4.6          │ 3.1         │ 1.5          │ 0.2         │ "setosa"    │
│ 5   │ 5.0          │ 3.6         │ 1.4          │ 0.2         │ "setosa"    │
│ 6   │ 5.4          │ 3.9         │ 1.7          │ 0.4         │ "setosa"    │
│ 7   │ 4.6          │ 3.4         │ 1.4          │ 0.3         │ "setosa"    │
│ 8   │ 5.0          │ 3.4         │ 1.5          │ 0.2         │ "setosa"    │
│ 9   │ 4.4          │ 2.9         │ 1.4          │ 0.2         │ "setosa"    │
│ 10  │ 4.9          │ 3.1         │ 1.5          │ 0.1         │ "setosa"    │
│ 11  │ 5.4          │ 3.7         │ 1.5          │ 0.2         │ "setosa"    │
⋮
│ 139 │ 6.0          │ 3.0         │ 4.8          │ 1.8         │ "virginica" │
│ 140 │ 6.9          │ 3.1         │ 5.4          │ 2.1         │ "virginica" │
│ 141 │ 6.7          │ 3.1         │ 5.6          │ 2.4         │ "virginica" │
│ 142 │ 6.9          │ 3.1         │ 5.1          │ 2.3         │ "virginica" │
│ 143 │ 5.8          │ 2.7         │ 5.1          │ 1.9         │ "virginica" │
│ 144 │ 6.8          │ 3.2         │ 5.9          │ 2.3         │ "virginica" │
│ 145 │ 6.7          │ 3.3         │ 5.7          │ 2.5         │ "virginica" │
│ 146 │ 6.7          │ 3.0         │ 5.2          │ 2.3         │ "virginica" │
│ 147 │ 6.3          │ 2.5         │ 5.0          │ 1.9         │ "virginica" │
│ 148 │ 6.5          │ 3.0         │ 5.2          │ 2.0         │ "virginica" │
│ 149 │ 6.2          │ 3.4         │ 5.4          │ 2.3         │ "virginica" │
│ 150 │ 5.9          │ 3.0         │ 5.1          │ 1.8         │ "virginica" │

In [ ]:
#### Reading With Delimiter /Separator

In [2]:
df_delimiter = readtable("usersdata.txt")

942×1 DataFrames.DataFrame
│ Row │ x1_24_M_technician_85711       │
├─────┼────────────────────────────────┤
│ 1   │ "2|53|F|other|94043"           │
│ 2   │ "3|23|M|writer|32067"          │
│ 3   │ "4|24|M|technician|43537"      │
│ 4   │ "5|33|F|other|15213"           │
│ 5   │ "6|42|M|executive|98101"       │
│ 6   │ "7|57|M|administrator|91344"   │
│ 7   │ "8|36|M|administrator|05201"   │
│ 8   │ "9|29|M|student|01002"         │
│ 9   │ "10|53|M|lawyer|90703"         │
│ 10  │ "11|39|F|other|30329"          │
│ 11  │ "12|28|F|other|06405"          │
⋮
│ 931 │ "932|58|M|educator|06437"      │
│ 932 │ "933|28|M|student|48105"       │
│ 933 │ "934|61|M|engineer|22902"      │
│ 934 │ "935|42|M|doctor|66221"        │
│ 935 │ "936|24|M|other|32789"         │
│ 936 │ "937|48|M|educator|98072"      │
│ 937 │ "938|38|F|technician|55038"    │
│ 938 │ "939|26|F|student|33319"       │
│ 939 │ "940|32|M|administrator|02215" │
│ 940 │ "941|20|M|student|97229"       │
│ 941 │ "942|48|F|librarian|78209"     │
│ 942 │ "943|22|M|student|77841"       │

In [6]:
df_delimiter = readtable("usersdata.txt",separator='|')

942×5 DataFrames.DataFrame
│ Row │ x1  │ x24 │ M   │ technician      │ x85711  │
├─────┼─────┼─────┼─────┼─────────────────┼─────────┤
│ 1   │ 2   │ 53  │ "F" │ "other"         │ "94043" │
│ 2   │ 3   │ 23  │ "M" │ "writer"        │ "32067" │
│ 3   │ 4   │ 24  │ "M" │ "technician"    │ "43537" │
│ 4   │ 5   │ 33  │ "F" │ "other"         │ "15213" │
│ 5   │ 6   │ 42  │ "M" │ "executive"     │ "98101" │
│ 6   │ 7   │ 57  │ "M" │ "administrator" │ "91344" │
│ 7   │ 8   │ 36  │ "M" │ "administrator" │ "05201" │
│ 8   │ 9   │ 29  │ "M" │ "student"       │ "01002" │
│ 9   │ 10  │ 53  │ "M" │ "lawyer"        │ "90703" │
│ 10  │ 11  │ 39  │ "F" │ "other"         │ "30329" │
│ 11  │ 12  │ 28  │ "F" │ "other"         │ "06405" │
⋮
│ 931 │ 932 │ 58  │ "M" │ "educator"      │ "06437" │
│ 932 │ 933 │ 28  │ "M" │ "student"       │ "48105" │
│ 933 │ 934 │ 61  │ "M" │ "engineer"      │ "22902" │
│ 934 │ 935 │ 42  │ "M" │ "doctor"        │ "66221" │
│ 935 │ 936 │ 24  │ "M" │ "other"         │ "32789" │
│ 936 │ 937 │ 48  │ "M" │ "educator"      │ "98072" │
│ 937 │ 938 │ 38  │ "F" │ "technician"    │ "55038" │
│ 938 │ 939 │ 26  │ "F" │ "student"       │ "33319" │
│ 939 │ 940 │ 32  │ "M" │ "administrator" │ "02215" │
│ 940 │ 941 │ 20  │ "M" │ "student"       │ "97229" │
│ 941 │ 942 │ 48  │ "F" │ "librarian"     │ "78209" │
│ 942 │ 943 │ 22  │ "M" │ "student"       │ "77841" │

In [ ]:
#### Reading A From a Url 
## Requires Requests
#using Requests

In [7]:
res = Requests.get_streaming("http://bit.ly/chiporders")

ResponseStream(Request(https://raw.githubusercontent.com/justmarkham/pandas-videos/master/data/chipotle.tsv, 3 headers, 0 bytes in body))

In [8]:
df_streaming = readtable(res,nrows=1)

1×1 DataFrames.DataFrame
│ Row │ order_id_quantity_item_name_choice_description_item_price │
├─────┼───────────────────────────────────────────────────────────┤
│ 1   │ "1\t1\tChips and Fresh Tomato Salsa\tNULL\t\$2.39"                 │

In [ ]:
#### Reading A Selected Number of Rows

In [9]:
df_row_10 = readtable("iris.csv",nrows=10)

10×5 DataFrames.DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species  │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼──────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ "setosa" │
│ 2   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │ "setosa" │
│ 3   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ "setosa" │
│ 4   │ 4.6          │ 3.1         │ 1.5          │ 0.2         │ "setosa" │
│ 5   │ 5.0          │ 3.6         │ 1.4          │ 0.2         │ "setosa" │
│ 6   │ 5.4          │ 3.9         │ 1.7          │ 0.4         │ "setosa" │
│ 7   │ 4.6          │ 3.4         │ 1.4          │ 0.3         │ "setosa" │
│ 8   │ 5.0          │ 3.4         │ 1.5          │ 0.2         │ "setosa" │
│ 9   │ 4.4          │ 2.9         │ 1.4          │ 0.2         │ "setosa" │
│ 10  │ 4.9          │ 3.1         │ 1.5          │ 0.1         │ "setosa" │

In [ ]:
# Reading Files with Missing Values
df_missing = readtable("data.csv",nastrings=["NA", "na", "n/a", "missing"])

#### Basics
+ head,tail,describe,size,length

In [10]:
# Prints the first 5 rows in the dataframe
head(df)

6×5 DataFrames.DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species  │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼──────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ "setosa" │
│ 2   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │ "setosa" │
│ 3   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ "setosa" │
│ 4   │ 4.6          │ 3.1         │ 1.5          │ 0.2         │ "setosa" │
│ 5   │ 5.0          │ 3.6         │ 1.4          │ 0.2         │ "setosa" │
│ 6   │ 5.4          │ 3.9         │ 1.7          │ 0.4         │ "setosa" │

In [11]:
head(df,3)

3×5 DataFrames.DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species  │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼──────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ "setosa" │
│ 2   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │ "setosa" │
│ 3   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ "setosa" │

In [12]:
# Prints the last rows in the dataframe
tail(df)

6×5 DataFrames.DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species     │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼─────────────┤
│ 1   │ 6.7          │ 3.3         │ 5.7          │ 2.5         │ "virginica" │
│ 2   │ 6.7          │ 3.0         │ 5.2          │ 2.3         │ "virginica" │
│ 3   │ 6.3          │ 2.5         │ 5.0          │ 1.9         │ "virginica" │
│ 4   │ 6.5          │ 3.0         │ 5.2          │ 2.0         │ "virginica" │
│ 5   │ 6.2          │ 3.4         │ 5.4          │ 2.3         │ "virginica" │
│ 6   │ 5.9          │ 3.0         │ 5.1          │ 1.8         │ "virginica" │

In [13]:
tail(df,10)

10×5 DataFrames.DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species     │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼─────────────┤
│ 1   │ 6.7          │ 3.1         │ 5.6          │ 2.4         │ "virginica" │
│ 2   │ 6.9          │ 3.1         │ 5.1          │ 2.3         │ "virginica" │
│ 3   │ 5.8          │ 2.7         │ 5.1          │ 1.9         │ "virginica" │
│ 4   │ 6.8          │ 3.2         │ 5.9          │ 2.3         │ "virginica" │
│ 5   │ 6.7          │ 3.3         │ 5.7          │ 2.5         │ "virginica" │
│ 6   │ 6.7          │ 3.0         │ 5.2          │ 2.3         │ "virginica" │
│ 7   │ 6.3          │ 2.5         │ 5.0          │ 1.9         │ "virginica" │
│ 8   │ 6.5          │ 3.0         │ 5.2          │ 2.0         │ "virginica" │
│ 9   │ 6.2          │ 3.4         │ 5.4          │ 2.3         │ "virginica" │
│ 10  │ 5.9          │ 3.0         │ 5.1          │ 1.8         │ "virginica" │

In [14]:
# Describe and gives a summary of the dataframe
describe(df)

sepal_length
Summary Stats:
Mean:           5.843333
Minimum:        4.300000
1st Quartile:   5.100000
Median:         5.800000
3rd Quartile:   6.400000
Maximum:        7.900000
Length:         150
Type:           Float64
Number Missing: 0
% Missing:      0.000000

sepal_width
Summary Stats:
Mean:           3.054000
Minimum:        2.000000
1st Quartile:   2.800000
Median:         3.000000
3rd Quartile:   3.300000
Maximum:        4.400000
Length:         150
Type:           Float64
Number Missing: 0
% Missing:      0.000000

petal_length
Summary Stats:
Mean:           3.758667
Minimum:        1.000000
1st Quartile:   1.600000
Median:         4.350000
3rd Quartile:   5.100000
Maximum:        6.900000
Length:         150
Type:           Float64
Number Missing: 0
% Missing:      0.000000

petal_width
Summary Stats:
Mean:           1.198667
Minimum:        0.100000
1st Quartile:   0.300000
Median:         1.300000
3rd Quartile:   1.800000
Maximum:        2.500000
Length:         150
Type:           Float64
Number Missing: 0
% Missing:      0.000000

species
Summary Stats:
Length:         150
Type:           String
Number Unique:  3
Number Missing: 0
% Missing:      0.000000

In [15]:
# Gives the size of the dataframe ie number of columns and rows
size(df)

(150, 5)

In [16]:
# length of the columns
length(df)

5

In [17]:
# number of rows
nrow(df)

150

In [18]:
# number of columns
ncol(df)

5

#### Working with Columns

In [19]:
# Show the names of each column /column header
names(df)

5-element Array{Symbol,1}:
 :sepal_length
 :sepal_width
 :petal_length
 :petal_width
 :species

In [20]:
# Show the type of data in each column
# df.info() in python
showcols(df)

150×5 DataFrames.DataFrame
│ Col # │ Name         │ Eltype  │ Missing │
├───────┼──────────────┼─────────┼─────────┤
│ 1     │ sepal_length │ Float64 │ 0       │
│ 2     │ sepal_width  │ Float64 │ 0       │
│ 3     │ petal_length │ Float64 │ 0       │
│ 4     │ petal_width  │ Float64 │ 0       │
│ 5     │ species      │ String  │ 0       │

In [21]:
# Selecting Specific Column Header
# df.columns[2:5] in python
names(df[2:5])

4-element Array{Symbol,1}:
 :sepal_width
 :petal_length
 :petal_width
 :species

In [22]:
# Make the header name uppercase
# py=> df.columns.str.upper()
uppercase(string(names(df)))

"SYMBOL[:SEPAL_LENGTH, :SEPAL_WIDTH, :PETAL_LENGTH, :PETAL_WIDTH, :SPECIES]"

In [ ]:
#names!(df,[:First,:Second])

#### Selecting Columns by Name or Symbol

In [23]:
# Syntax  => DataFrame[:column_name]
df[:sepal_length]

150-element DataArrays.DataArray{Float64,1}:
 5.1
 4.9
 4.7
 4.6
 5.0
 5.4
 4.6
 5.0
 4.4
 4.9
 5.4
 4.8
 4.8
 ⋮
 6.0
 6.9
 6.7
 6.9
 5.8
 6.8
 6.7
 6.7
 6.3
 6.5
 6.2
 5.9

In [24]:
df[Symbol("sepal_length")]

150-element DataArrays.DataArray{Float64,1}:
 5.1
 4.9
 4.7
 4.6
 5.0
 5.4
 4.6
 5.0
 4.4
 4.9
 5.4
 4.8
 4.8
 ⋮
 6.0
 6.9
 6.7
 6.9
 5.8
 6.8
 6.7
 6.7
 6.3
 6.5
 6.2
 5.9

In [26]:
# Syntax  => DataFrame[column_number_or_index]
df[3]

150-element DataArrays.DataArray{Float64,1}:
 1.4
 1.4
 1.3
 1.5
 1.4
 1.7
 1.4
 1.5
 1.4
 1.5
 1.5
 1.6
 1.4
 ⋮
 4.8
 5.4
 5.6
 5.1
 5.1
 5.9
 5.7
 5.2
 5.0
 5.2
 5.4
 5.1

#### Selecting Multiple Columns
#### Range Selection

In [27]:
# Syntax  => DataFrame[[:column_nameA,:column_nameB]]
# Syntax  => DataFrame[column_number1:column_number4]
df[[:sepal_length,:petal_length]]

150×2 DataFrames.DataFrame
│ Row │ sepal_length │ petal_length │
├─────┼──────────────┼──────────────┤
│ 1   │ 5.1          │ 1.4          │
│ 2   │ 4.9          │ 1.4          │
│ 3   │ 4.7          │ 1.3          │
│ 4   │ 4.6          │ 1.5          │
│ 5   │ 5.0          │ 1.4          │
│ 6   │ 5.4          │ 1.7          │
│ 7   │ 4.6          │ 1.4          │
│ 8   │ 5.0          │ 1.5          │
│ 9   │ 4.4          │ 1.4          │
│ 10  │ 4.9          │ 1.5          │
│ 11  │ 5.4          │ 1.5          │
⋮
│ 139 │ 6.0          │ 4.8          │
│ 140 │ 6.9          │ 5.4          │
│ 141 │ 6.7          │ 5.6          │
│ 142 │ 6.9          │ 5.1          │
│ 143 │ 5.8          │ 5.1          │
│ 144 │ 6.8          │ 5.9          │
│ 145 │ 6.7          │ 5.7          │
│ 146 │ 6.7          │ 5.2          │
│ 147 │ 6.3          │ 5.0          │
│ 148 │ 6.5          │ 5.2          │
│ 149 │ 6.2          │ 5.4          │
│ 150 │ 5.9          │ 5.1          │

In [29]:
df[2:4]

150×3 DataFrames.DataFrame
│ Row │ sepal_width │ petal_length │ petal_width │
├─────┼─────────────┼──────────────┼─────────────┤
│ 1   │ 3.5         │ 1.4          │ 0.2         │
│ 2   │ 3.0         │ 1.4          │ 0.2         │
│ 3   │ 3.2         │ 1.3          │ 0.2         │
│ 4   │ 3.1         │ 1.5          │ 0.2         │
│ 5   │ 3.6         │ 1.4          │ 0.2         │
│ 6   │ 3.9         │ 1.7          │ 0.4         │
│ 7   │ 3.4         │ 1.4          │ 0.3         │
│ 8   │ 3.4         │ 1.5          │ 0.2         │
│ 9   │ 2.9         │ 1.4          │ 0.2         │
│ 10  │ 3.1         │ 1.5          │ 0.1         │
│ 11  │ 3.7         │ 1.5          │ 0.2         │
⋮
│ 139 │ 3.0         │ 4.8          │ 1.8         │
│ 140 │ 3.1         │ 5.4          │ 2.1         │
│ 141 │ 3.1         │ 5.6          │ 2.4         │
│ 142 │ 3.1         │ 5.1          │ 2.3         │
│ 143 │ 2.7         │ 5.1          │ 1.9         │
│ 144 │ 3.2         │ 5.9          │ 2.3         │
│ 145 │ 3.3         │ 5.7          │ 2.5         │
│ 146 │ 3.0         │ 5.2          │ 2.3         │
│ 147 │ 2.5         │ 5.0          │ 1.9         │
│ 148 │ 3.0         │ 5.2          │ 2.0         │
│ 149 │ 3.4         │ 5.4          │ 2.3         │
│ 150 │ 3.0         │ 5.1          │ 1.8         │

In [30]:
# Syntax => DataFrame[row,column]
# Select All Columns of Sepal...
df[:,[:sepal_length,:petal_length]]

150×2 DataFrames.DataFrame
│ Row │ sepal_length │ petal_length │
├─────┼──────────────┼──────────────┤
│ 1   │ 5.1          │ 1.4          │
│ 2   │ 4.9          │ 1.4          │
│ 3   │ 4.7          │ 1.3          │
│ 4   │ 4.6          │ 1.5          │
│ 5   │ 5.0          │ 1.4          │
│ 6   │ 5.4          │ 1.7          │
│ 7   │ 4.6          │ 1.4          │
│ 8   │ 5.0          │ 1.5          │
│ 9   │ 4.4          │ 1.4          │
│ 10  │ 4.9          │ 1.5          │
│ 11  │ 5.4          │ 1.5          │
⋮
│ 139 │ 6.0          │ 4.8          │
│ 140 │ 6.9          │ 5.4          │
│ 141 │ 6.7          │ 5.6          │
│ 142 │ 6.9          │ 5.1          │
│ 143 │ 5.8          │ 5.1          │
│ 144 │ 6.8          │ 5.9          │
│ 145 │ 6.7          │ 5.7          │
│ 146 │ 6.7          │ 5.2          │
│ 147 │ 6.3          │ 5.0          │
│ 148 │ 6.5          │ 5.2          │
│ 149 │ 6.2          │ 5.4          │
│ 150 │ 5.9          │ 5.1          │

#### Working On Rows

In [31]:
# Number of rows
nrow(df)

150

In [33]:
# Selecting a Row 
# Select row 2 with all it columns
df[3,:]

1×5 DataFrames.DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species  │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼──────────┤
│ 1   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ "setosa" │

In [35]:
# Select  row of a specific column
df[3,3]

1.3

In [36]:
# loc,iloc equivalent in Julia
# Location Index Location
#eg df.loc[2]
df[2,:]

1×5 DataFrames.DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species  │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼──────────┤
│ 1   │ 4.9          │ 3.0         │ 1.4          │ 0.2         │ "setosa" │

In [38]:
# Selecting Specific Individual Rows and Columns
# Syntax => DataFrame[[row1,row3],[columns]]
#eg df.loc[0:2,:]
#eg df.loc[[rows1,rows3],:]

df[[1,3,15],:]

3×5 DataFrames.DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species  │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼──────────┤
│ 1   │ 5.1          │ 3.5         │ 1.4          │ 0.2         │ "setosa" │
│ 2   │ 4.7          │ 3.2         │ 1.3          │ 0.2         │ "setosa" │
│ 3   │ 5.8          │ 4.0         │ 1.2          │ 0.2         │ "setosa" │

In [39]:
# Select individual Row 2,4,6 of Columns Sepal_length and Sepal_Width]
df[[2,4,6],[:sepal_length,:sepal_width]]

3×2 DataFrames.DataFrame
│ Row │ sepal_length │ sepal_width │
├─────┼──────────────┼─────────────┤
│ 1   │ 4.9          │ 3.0         │
│ 2   │ 4.6          │ 3.1         │
│ 3   │ 5.4          │ 3.9         │

In [40]:
# Iloc 
#Range Selection of Columns and Rows
#eg py => df.iloc[5:10]
df[5:10,:]

6×5 DataFrames.DataFrame
│ Row │ sepal_length │ sepal_width │ petal_length │ petal_width │ species  │
├─────┼──────────────┼─────────────┼──────────────┼─────────────┼──────────┤
│ 1   │ 5.0          │ 3.6         │ 1.4          │ 0.2         │ "setosa" │
│ 2   │ 5.4          │ 3.9         │ 1.7          │ 0.4         │ "setosa" │
│ 3   │ 4.6          │ 3.4         │ 1.4          │ 0.3         │ "setosa" │
│ 4   │ 5.0          │ 3.4         │ 1.5          │ 0.2         │ "setosa" │
│ 5   │ 4.4          │ 2.9         │ 1.4          │ 0.2         │ "setosa" │
│ 6   │ 4.9          │ 3.1         │ 1.5          │ 0.1         │ "setosa" │

In [41]:
#Select 3rd Row of Columns 2 to 4
# py=>df[df.columns[2:4]].iloc[3]
df[3,[2,4]]

1×2 DataFrames.DataFrame
│ Row │ sepal_width │ petal_width │
├─────┼─────────────┼─────────────┤
│ 1   │ 3.2         │ 0.2         │

In [42]:
df[3,names(df[2:4])]

1×3 DataFrames.DataFrame
│ Row │ sepal_width │ petal_length │ petal_width │
├─────┼─────────────┼──────────────┼─────────────┤
│ 1   │ 3.2         │ 1.3          │ 0.2         │

#### Iterating Over Rows and Columns
* Iteration
+ df.iteritems() Columns Index == eachcol
+ df.iterrows() Row-index,Series == eachrows

In [43]:
for i in eachrow(df)
    print(i)
end

DataFrameRow (row 1)
sepal_length  5.1
sepal_width   3.5
petal_length  1.4
petal_width   0.2
species       setosa
DataFrameRow (row 2)
sepal_length  4.9
sepal_width   3.0
petal_length  1.4
petal_width   0.2
species       setosa
DataFrameRow (row 3)
sepal_length  4.7
sepal_width   3.2
petal_length  1.3
petal_width   0.2
species       setosa
DataFrameRow (row 4)
sepal_length  4.6
sepal_width   3.1
petal_length  1.5
petal_width   0.2
species       setosa
DataFrameRow (row 5)
sepal_length  5.0
sepal_width   3.6
petal_length  1.4
petal_width   0.2
species       setosa
DataFrameRow (row 6)
sepal_length  5.4
sepal_width   3.9
petal_length  1.7
petal_width   0.4
species       setosa
DataFrameRow (row 7)
sepal_length  4.6
sepal_width   3.4
petal_length  1.4
petal_width   0.3
species       setosa
DataFrameRow (row 8)
sepal_length  5.0
sepal_width   3.4
petal_length  1.5
petal_width   0.2
species       setosa
DataFrameRow (row 9)
sepal_length  4.4
sepal_width   2.9
petal_length  1.4
petal_width   0.2
species       setosa
DataFrameRow (row 10)
sepal_length  4.9
sepal_width   3.1
petal_length  1.5
petal_width   0.1
species       setosa
DataFrameRow (row 11)
sepal_length  5.4
sepal_width   3.7
petal_length  1.5
petal_width   0.2
species       setosa
DataFrameRow (row 12)
sepal_length  4.8
sepal_width   3.4
petal_length  1.6
petal_width   0.2
species       setosa
DataFrameRow (row 13)
sepal_length  4.8
sepal_width   3.0
petal_length  1.4
petal_width   0.1
species       setosa
DataFrameRow (row 14)
sepal_length  4.3
sepal_width   3.0
petal_length  1.1
petal_width   0.1
species       setosa
DataFrameRow (row 15)
sepal_length  5.8
sepal_width   4.0
petal_length  1.2
petal_width   0.2
species       setosa
DataFrameRow (row 16)
sepal_length  5.7
sepal_width   4.4
petal_length  1.5
petal_width   0.4
species       setosa
DataFrameRow (row 17)
sepal_length  5.4
sepal_width   3.9
petal_length  1.3
petal_width   0.4
species       setosa
DataFrameRow (row 18)
sepal_length  5.1
sepal_width   3.5
petal_length  1.4
petal_width   0.3
species       setosa
DataFrameRow (row 19)
sepal_length  5.7
sepal_width   3.8
petal_length  1.7
petal_width   0.3
species       setosa
DataFrameRow (row 20)
sepal_length  5.1
sepal_width   3.8
petal_length  1.5
petal_width   0.3
species       setosa
DataFrameRow (row 21)
sepal_length  5.4
sepal_width   3.4
petal_length  1.7
petal_width   0.2
species       setosa
DataFrameRow (row 22)
sepal_length  5.1
sepal_width   3.7
petal_length  1.5
petal_width   0.4
species       setosa
DataFrameRow (row 23)
sepal_length  4.6
sepal_width   3.6
petal_length  1.0
petal_width   0.2
species       setosa
DataFrameRow (row 24)
sepal_length  5.1
sepal_width   3.3
petal_length  1.7
petal_width   0.5
species       setosa
DataFrameRow (row 25)
sepal_length  4.8
sepal_width   3.4
petal_length  1.9
petal_width   0.2
species       setosa
DataFrameRow (row 26)
sepal_length  5.0
sepal_width   3.0
petal_length  1.6
petal_width   0.2
species       setosa
DataFrameRow (row 27)
sepal_length  5.0
sepal_width   3.4
petal_length  1.6
petal_width   0.4
species       setosa
DataFrameRow (row 28)
sepal_length  5.2
sepal_width   3.5
petal_length  1.5
petal_width   0.2
species       setosa
DataFrameRow (row 29)
sepal_length  5.2
sepal_width   3.4
petal_length  1.4
petal_width   0.2
species       setosa
DataFrameRow (row 30)
sepal_length  4.7
sepal_width   3.2
petal_length  1.6
petal_width   0.2
species       setosa
DataFrameRow (row 31)
sepal_length  4.8
sepal_width   3.1
petal_length  1.6
petal_width   0.2
species       setosa
DataFrameRow (row 32)
sepal_length  5.4
sepal_width   3.4
petal_length  1.5
petal_width   0.4
species       setosa
DataFrameRow (row 33)
sepal_length  5.2
sepal_width   4.1
petal_length  1.5
petal_width   0.1
species       setosa
DataFrameRow (row 34)
sepal_length  5.5
sepal_width   4.2
petal_length  1.4
petal_width   0.2
species       setosa
DataFrameRow (row 35)
sepal_length  4.9
sepal_width   3.1
petal_length  1.5
petal_width   0.1
species       setosa
DataFrameRow (row 36)
sepal_length  5.0
sepal_width   3.2
petal_length  1.2
petal_width   0.2
species       setosa
DataFrameRow (row 37)
sepal_length  5.5
sepal_width   3.5
petal_length  1.3
petal_width   0.2
species       setosa
DataFrameRow (row 38)
sepal_length  4.9
sepal_width   3.1
petal_length  1.5
petal_width   0.1
species       setosa
DataFrameRow (row 39)
sepal_length  4.4
sepal_width   3.0
petal_length  1.3
petal_width   0.2
species       setosa
DataFrameRow (row 40)
sepal_length  5.1
sepal_width   3.4
petal_length  1.5
petal_width   0.2
species       setosa
DataFrameRow (row 41)
sepal_length  5.0
sepal_width   3.5
petal_length  1.3
petal_width   0.3
species       setosa
DataFrameRow (row 42)
sepal_length  4.5
sepal_width   2.3
petal_length  1.3
petal_width   0.3
species       setosa
DataFrameRow (row 43)
sepal_length  4.4
sepal_width   3.2
petal_length  1.3
petal_width   0.2
species       setosa
DataFrameRow (row 44)
sepal_length  5.0
sepal_width   3.5
petal_length  1.6
petal_width   0.6
species       setosa
DataFrameRow (row 45)
sepal_length  5.1
sepal_width   3.8
petal_length  1.9
petal_width   0.4
species       setosa
DataFrameRow (row 46)
sepal_length  4.8
sepal_width   3.0
petal_length  1.4
petal_width   0.3
species       setosa
DataFrameRow (row 47)
sepal_length  5.1
sepal_width   3.8
petal_length  1.6
petal_width   0.2
species       setosa
DataFrameRow (row 48)
sepal_length  4.6
sepal_width   3.2
petal_length  1.4
petal_width   0.2
species       setosa
DataFrameRow (row 49)
sepal_length  5.3
sepal_width   3.7
petal_length  1.5
petal_width   0.2
species       setosa
DataFrameRow (row 50)
sepal_length  5.0
sepal_width   3.3
petal_length  1.4
petal_width   0.2
species       setosa
DataFrameRow (row 51)
sepal_length  7.0
sepal_width   3.2
petal_length  4.7
petal_width   1.4
species       versicolor
DataFrameRow (row 52)
sepal_length  6.4
sepal_width   3.2
petal_length  4.5
petal_width   1.5
species       versicolor
DataFrameRow (row 53)
sepal_length  6.9
sepal_width   3.1
petal_length  4.9
petal_width   1.5
species       versicolor
DataFrameRow (row 54)
sepal_length  5.5
sepal_width   2.3
petal_length  4.0
petal_width   1.3
species       versicolor
DataFrameRow (row 55)
sepal_length  6.5
sepal_width   2.8
petal_length  4.6
petal_width   1.5
species       versicolor
DataFrameRow (row 56)
sepal_length  5.7
sepal_width   2.8
petal_length  4.5
petal_width   1.3
species       versicolor
DataFrameRow (row 57)
sepal_length  6.3
sepal_width   3.3
petal_length  4.7
petal_width   1.6
species       versicolor
DataFrameRow (row 58)
sepal_length  4.9
sepal_width   2.4
petal_length  3.3
petal_width   1.0
species       versicolor
DataFrameRow (row 59)
sepal_length  6.6
sepal_width   2.9
petal_length  4.6
petal_width   1.3
species       versicolor
DataFrameRow (row 60)
sepal_length  5.2
sepal_width   2.7
petal_length  3.9
petal_width   1.4
species       versicolor
DataFrameRow (row 61)
sepal_length  5.0
sepal_width   2.0
petal_length  3.5
petal_width   1.0
species       versicolor
DataFrameRow (row 62)
sepal_length  5.9
sepal_width   3.0
petal_length  4.2
petal_width   1.5
species       versicolor
DataFrameRow (row 63)
sepal_length  6.0
sepal_width   2.2
petal_length  4.0
petal_width   1.0
species       versicolor
DataFrameRow (row 64)
sepal_length  6.1
sepal_width   2.9
petal_length  4.7
petal_width   1.4
species       versicolor
DataFrameRow (row 65)
sepal_length  5.6
sepal_width   2.9
petal_length  3.6
petal_width   1.3
species       versicolor
DataFrameRow (row 66)
sepal_length  6.7
sepal_width   3.1
petal_length  4.4
petal_width   1.4
species       versicolor
DataFrameRow (row 67)
sepal_length  5.6
sepal_width   3.0
petal_length  4.5
petal_width   1.5
species       versicolor
DataFrameRow (row 68)
sepal_length  5.8
sepal_width   2.7
petal_length  4.1
petal_width   1.0
species       versicolor
DataFrameRow (row 69)
sepal_length  6.2
sepal_width   2.2
petal_length  4.5
petal_width   1.5
species       versicolor
DataFrameRow (row 70)
sepal_length  5.6
sepal_width   2.5
petal_length  3.9
petal_width   1.1
species       versicolor
DataFrameRow (row 71)
sepal_length  5.9
sepal_width   3.2
petal_length  4.8
petal_width   1.8
species       versicolor
DataFrameRow (row 72)
sepal_length  6.1
sepal_width   2.8
petal_length  4.0
petal_width   1.3
species       versicolor
DataFrameRow (row 73)
sepal_length  6.3
sepal_width   2.5
petal_length  4.9
petal_width   1.5
species       versicolor
DataFrameRow (row 74)
sepal_length  6.1
sepal_width   2.8
petal_length  4.7
petal_width   1.2
species       versicolor
DataFrameRow (row 75)
sepal_length  6.4
sepal_width   2.9
petal_length  4.3
petal_width   1.3
species       versicolor
DataFrameRow (row 76)
sepal_length  6.6
sepal_width   3.0
petal_length  4.4
petal_width   1.4
species       versicolor
DataFrameRow (row 77)
sepal_length  6.8
sepal_width   2.8
petal_length  4.8
petal_width   1.4
species       versicolor
DataFrameRow (row 78)
sepal_length  6.7
sepal_width   3.0
petal_length  5.0
petal_width   1.7
species       versicolor
DataFrameRow (row 79)
sepal_length  6.0
sepal_width   2.9
petal_length  4.5
petal_width   1.5
species       versicolor
DataFrameRow (row 80)
sepal_length  5.7
sepal_width   2.6
petal_length  3.5
petal_width   1.0
species       versicolor
DataFrameRow (row 81)
sepal_length  5.5
sepal_width   2.4
petal_length  3.8
petal_width   1.1
species       versicolor
DataFrameRow (row 82)
sepal_length  5.5
sepal_width   2.4
petal_length  3.7
petal_width   1.0
species       versicolor
DataFrameRow (row 83)
sepal_length  5.8
sepal_width   2.7
petal_length  3.9
petal_width   1.2
species       versicolor
DataFrameRow (row 84)
sepal_length  6.0
sepal_width   2.7
petal_length  5.1
petal_width   1.6
species       versicolor
DataFrameRow (row 85)
sepal_length  5.4
sepal_width   3.0
petal_length  4.5
petal_width   1.5
species       versicolor
DataFrameRow (row 86)
sepal_length  6.0
sepal_width   3.4
petal_length  4.5
petal_width   1.6
species       versicolor
DataFrameRow (row 87)
sepal_length  6.7
sepal_width   3.1
petal_length  4.7
petal_width   1.5
species       versicolor
DataFrameRow (row 88)
sepal_length  6.3
sepal_width   2.3
petal_length  4.4
petal_width   1.3
species       versicolor
DataFrameRow (row 89)
sepal_length  5.6
sepal_width   3.0
petal_length  4.1
petal_width   1.3
species       versicolor
DataFrameRow (row 90)
sepal_length  5.5
sepal_width   2.5
petal_length  4.0
petal_width   1.3
species       versicolor
DataFrameRow (row 91)
sepal_length  5.5
sepal_width   2.6
petal_length  4.4
petal_width   1.2
species       versicolor
DataFrameRow (row 92)
sepal_length  6.1
sepal_width   3.0
petal_length  4.6
petal_width   1.4
species       versicolor
DataFrameRow (row 93)
sepal_length  5.8
sepal_width   2.6
petal_length  4.0
petal_width   1.2
species       versicolor
DataFrameRow (row 94)
sepal_length  5.0
sepal_width   2.3
petal_length  3.3
petal_width   1.0
species       versicolor
DataFrameRow (row 95)
sepal_length  5.6
sepal_width   2.7
petal_length  4.2
petal_width   1.3
species       versicolor
DataFrameRow (row 96)
sepal_length  5.7
sepal_width   3.0
petal_length  4.2
petal_width   1.2
species       versicolor
DataFrameRow (row 97)
sepal_length  5.7
sepal_width   2.9
petal_length  4.2
petal_width   1.3
species       versicolor
DataFrameRow (row 98)
sepal_length  6.2
sepal_width   2.9
petal_length  4.3
petal_width   1.3
species       versicolor
DataFrameRow (row 99)
sepal_length  5.1
sepal_width   2.5
petal_length  3.0
petal_width   1.1
species       versicolor
DataFrameRow (row 100)
sepal_length  5.7
sepal_width   2.8
petal_length  4.1
petal_width   1.3
species       versicolor
DataFrameRow (row 101)
sepal_length  6.3
sepal_width   3.3
petal_length  6.0
petal_width   2.5
species       virginica
DataFrameRow (row 102)
sepal_length  5.8
sepal_width   2.7
petal_length  5.1
petal_width   1.9
species       virginica
DataFrameRow (row 103)
sepal_length  7.1
sepal_width   3.0
petal_length  5.9
petal_width   2.1
species       virginica
DataFrameRow (row 104)
sepal_length  6.3
sepal_width   2.9
petal_length  5.6
petal_width   1.8
species       virginica
DataFrameRow (row 105)
sepal_length  6.5
sepal_width   3.0
petal_length  5.8
petal_width   2.2
species       virginica
DataFrameRow (row 106)
sepal_length  7.6
sepal_width   3.0
petal_length  6.6
petal_width   2.1
species       virginica
DataFrameRow (row 107)
sepal_length  4.9
sepal_width   2.5
petal_length  4.5
petal_width   1.7
species       virginica
DataFrameRow (row 108)
sepal_length  7.3
sepal_width   2.9
petal_length  6.3
petal_width   1.8
species       virginica
DataFrameRow (row 109)
sepal_length  6.7
sepal_width   2.5
petal_length  5.8
petal_width   1.8
species       virginica
DataFrameRow (row 110)
sepal_length  7.2
sepal_width   3.6
petal_length  6.1
petal_width   2.5
species       virginica
DataFrameRow (row 111)
sepal_length  6.5
sepal_width   3.2
petal_length  5.1
petal_width   2.0
species       virginica
DataFrameRow (row 112)
sepal_length  6.4
sepal_width   2.7
petal_length  5.3
petal_width   1.9
species       virginica
DataFrameRow (row 113)
sepal_length  6.8
sepal_width   3.0
petal_length  5.5
petal_width   2.1
species       virginica
DataFrameRow (row 114)
sepal_length  5.7
sepal_width   2.5
petal_length  5.0
petal_width   2.0
species       virginica
DataFrameRow (row 115)
sepal_length  5.8
sepal_width   2.8
petal_length  5.1
petal_width   2.4
species       virginica
DataFrameRow (row 116)
sepal_length  6.4
sepal_width   3.2
petal_length  5.3
petal_width   2.3
species       virginica
DataFrameRow (row 117)
sepal_length  6.5
sepal_width   3.0
petal_length  5.5
petal_width   1.8
species       virginica
DataFrameRow (row 118)
sepal_length  7.7
sepal_width   3.8
petal_length  6.7
petal_width   2.2
species       virginica
DataFrameRow (row 119)
sepal_length  7.7
sepal_width   2.6
petal_length  6.9
petal_width   2.3
species       virginica
DataFrameRow (row 120)
sepal_length  6.0
sepal_width   2.2
petal_length  5.0
petal_width   1.5
species       virginica
DataFrameRow (row 121)
sepal_length  6.9
sepal_width   3.2
petal_length  5.7
petal_width   2.3
species       virginica
DataFrameRow (row 122)
sepal_length  5.6
sepal_width   2.8
petal_length  4.9
petal_width   2.0
species       virginica
DataFrameRow (row 123)
sepal_length  7.7
sepal_width   2.8
petal_length  6.7
petal_width   2.0
species       virginica
DataFrameRow (row 124)
sepal_length  6.3
sepal_width   2.7
petal_length  4.9
petal_width   1.8
species       virginica
DataFrameRow (row 125)
sepal_length  6.7
sepal_width   3.3
petal_length  5.7
petal_width   2.1
species       virginica
DataFrameRow (row 126)
sepal_length  7.2
sepal_width   3.2
petal_length  6.0
petal_width   1.8
species       virginica
DataFrameRow (row 127)
sepal_length  6.2
sepal_width   2.8
petal_length  4.8
petal_width   1.8
species       virginica
DataFrameRow (row 128)
sepal_length  6.1
sepal_width   3.0
petal_length  4.9
petal_width   1.8
species       virginica
DataFrameRow (row 129)
sepal_length  6.4
sepal_width   2.8
petal_length  5.6
petal_width   2.1
species       virginica
DataFrameRow (row 130)
sepal_length  7.2
sepal_width   3.0
petal_length  5.8
petal_width   1.6
species       virginica
DataFrameRow (row 131)
sepal_length  7.4
sepal_width   2.8
petal_length  6.1
petal_width   1.9
species       virginica
DataFrameRow (row 132)
sepal_length  7.9
sepal_width   3.8
petal_length  6.4
petal_width   2.0
species       virginica
DataFrameRow (row 133)
sepal_length  6.4
sepal_width   2.8
petal_length  5.6
petal_width   2.2
species       virginica
DataFrameRow (row 134)
sepal_length  6.3
sepal_width   2.8
petal_length  5.1
petal_width   1.5
species       virginica
DataFrameRow (row 135)
sepal_length  6.1
sepal_width   2.6
petal_length  5.6
petal_width   1.4
species       virginica
DataFrameRow (row 136)
sepal_length  7.7
sepal_width   3.0
petal_length  6.1
petal_width   2.3
species       virginica
DataFrameRow (row 137)
sepal_length  6.3
sepal_width   3.4
petal_length  5.6
petal_width   2.4
species       virginica
DataFrameRow (row 138)
sepal_length  6.4
sepal_width   3.1
petal_length  5.5
petal_width   1.8
species       virginica
DataFrameRow (row 139)
sepal_length  6.0
sepal_width   3.0
petal_length  4.8
petal_width   1.8
species       virginica
DataFrameRow (row 140)
sepal_length  6.9
sepal_width   3.1
petal_length  5.4
petal_width   2.1
species       virginica
DataFrameRow (row 141)
sepal_length  6.7
sepal_width   3.1
petal_length  5.6
petal_width   2.4
species       virginica
DataFrameRow (row 142)
sepal_length  6.9
sepal_width   3.1
petal_length  5.1
petal_width   2.3
species       virginica
DataFrameRow (row 143)
sepal_length  5.8
sepal_width   2.7
petal_length  5.1
petal_width   1.9
species       virginica
DataFrameRow (row 144)
sepal_length  6.8
sepal_width   3.2
petal_length  5.9
petal_width   2.3
species       virginica
DataFrameRow (row 145)
sepal_length  6.7
sepal_width   3.3
petal_length  5.7
petal_width   2.5
species       virginica
DataFrameRow (row 146)
sepal_length  6.7
sepal_width   3.0
petal_length  5.2
petal_width   2.3
species       virginica
DataFrameRow (row 147)
sepal_length  6.3
sepal_width   2.5
petal_length  5.0
petal_width   1.9
species       virginica
DataFrameRow (row 148)
sepal_length  6.5
sepal_width   3.0
petal_length  5.2
petal_width   2.0
species       virginica
DataFrameRow (row 149)
sepal_length  6.2
sepal_width   3.4
petal_length  5.4
petal_width   2.3
species       virginica
DataFrameRow (row 150)
sepal_length  5.9
sepal_width   3.0
petal_length  5.1
petal_width   1.8
species       virginica

In [44]:
for i in eachcol(df)
    println(i)
end

(:sepal_length, [5.1, 4.9, 4.7, 4.6, 5.0, 5.4, 4.6, 5.0, 4.4, 4.9, 5.4, 4.8, 4.8, 4.3, 5.8, 5.7, 5.4, 5.1, 5.7, 5.1, 5.4, 5.1, 4.6, 5.1, 4.8, 5.0, 5.0, 5.2, 5.2, 4.7, 4.8, 5.4, 5.2, 5.5, 4.9, 5.0, 5.5, 4.9, 4.4, 5.1, 5.0, 4.5, 4.4, 5.0, 5.1, 4.8, 5.1, 4.6, 5.3, 5.0, 7.0, 6.4, 6.9, 5.5, 6.5, 5.7, 6.3, 4.9, 6.6, 5.2, 5.0, 5.9, 6.0, 6.1, 5.6, 6.7, 5.6, 5.8, 6.2, 5.6, 5.9, 6.1, 6.3, 6.1, 6.4, 6.6, 6.8, 6.7, 6.0, 5.7, 5.5, 5.5, 5.8, 6.0, 5.4, 6.0, 6.7, 6.3, 5.6, 5.5, 5.5, 6.1, 5.8, 5.0, 5.6, 5.7, 5.7, 6.2, 5.1, 5.7, 6.3, 5.8, 7.1, 6.3, 6.5, 7.6, 4.9, 7.3, 6.7, 7.2, 6.5, 6.4, 6.8, 5.7, 5.8, 6.4, 6.5, 7.7, 7.7, 6.0, 6.9, 5.6, 7.7, 6.3, 6.7, 7.2, 6.2, 6.1, 6.4, 7.2, 7.4, 7.9, 6.4, 6.3, 6.1, 7.7, 6.3, 6.4, 6.0, 6.9, 6.7, 6.9, 5.8, 6.8, 6.7, 6.7, 6.3, 6.5, 6.2, 5.9])
(:sepal_width, [3.5, 3.0, 3.2, 3.1, 3.6, 3.9, 3.4, 3.4, 2.9, 3.1, 3.7, 3.4, 3.0, 3.0, 4.0, 4.4, 3.9, 3.5, 3.8, 3.8, 3.4, 3.7, 3.6, 3.3, 3.4, 3.0, 3.4, 3.5, 3.4, 3.2, 3.1, 3.4, 4.1, 4.2, 3.1, 3.2, 3.5, 3.1, 3.0, 3.4, 3.5, 2.3, 3.2, 3.5, 3.8, 3.0, 3.8, 3.2, 3.7, 3.3, 3.2, 3.2, 3.1, 2.3, 2.8, 2.8, 3.3, 2.4, 2.9, 2.7, 2.0, 3.0, 2.2, 2.9, 2.9, 3.1, 3.0, 2.7, 2.2, 2.5, 3.2, 2.8, 2.5, 2.8, 2.9, 3.0, 2.8, 3.0, 2.9, 2.6, 2.4, 2.4, 2.7, 2.7, 3.0, 3.4, 3.1, 2.3, 3.0, 2.5, 2.6, 3.0, 2.6, 2.3, 2.7, 3.0, 2.9, 2.9, 2.5, 2.8, 3.3, 2.7, 3.0, 2.9, 3.0, 3.0, 2.5, 2.9, 2.5, 3.6, 3.2, 2.7, 3.0, 2.5, 2.8, 3.2, 3.0, 3.8, 2.6, 2.2, 3.2, 2.8, 2.8, 2.7, 3.3, 3.2, 2.8, 3.0, 2.8, 3.0, 2.8, 3.8, 2.8, 2.8, 2.6, 3.0, 3.4, 3.1, 3.0, 3.1, 3.1, 3.1, 2.7, 3.2, 3.3, 3.0, 2.5, 3.0, 3.4, 3.0])
(:petal_length, [1.4, 1.4, 1.3, 1.5, 1.4, 1.7, 1.4, 1.5, 1.4, 1.5, 1.5, 1.6, 1.4, 1.1, 1.2, 1.5, 1.3, 1.4, 1.7, 1.5, 1.7, 1.5, 1.0, 1.7, 1.9, 1.6, 1.6, 1.5, 1.4, 1.6, 1.6, 1.5, 1.5, 1.4, 1.5, 1.2, 1.3, 1.5, 1.3, 1.5, 1.3, 1.3, 1.3, 1.6, 1.9, 1.4, 1.6, 1.4, 1.5, 1.4, 4.7, 4.5, 4.9, 4.0, 4.6, 4.5, 4.7, 3.3, 4.6, 3.9, 3.5, 4.2, 4.0, 4.7, 3.6, 4.4, 4.5, 4.1, 4.5, 3.9, 4.8, 4.0, 4.9, 4.7, 4.3, 4.4, 4.8, 5.0, 4.5, 3.5, 3.8, 3.7, 3.9, 5.1, 4.5, 4.5, 4.7, 4.4, 4.1, 4.0, 4.4, 4.6, 4.0, 3.3, 4.2, 4.2, 4.2, 4.3, 3.0, 4.1, 6.0, 5.1, 5.9, 5.6, 5.8, 6.6, 4.5, 6.3, 5.8, 6.1, 5.1, 5.3, 5.5, 5.0, 5.1, 5.3, 5.5, 6.7, 6.9, 5.0, 5.7, 4.9, 6.7, 4.9, 5.7, 6.0, 4.8, 4.9, 5.6, 5.8, 6.1, 6.4, 5.6, 5.1, 5.6, 6.1, 5.6, 5.5, 4.8, 5.4, 5.6, 5.1, 5.1, 5.9, 5.7, 5.2, 5.0, 5.2, 5.4, 5.1])
(:petal_width, [0.2, 0.2, 0.2, 0.2, 0.2, 0.4, 0.3, 0.2, 0.2, 0.1, 0.2, 0.2, 0.1, 0.1, 0.2, 0.4, 0.4, 0.3, 0.3, 0.3, 0.2, 0.4, 0.2, 0.5, 0.2, 0.2, 0.4, 0.2, 0.2, 0.2, 0.2, 0.4, 0.1, 0.2, 0.1, 0.2, 0.2, 0.1, 0.2, 0.2, 0.3, 0.3, 0.2, 0.6, 0.4, 0.3, 0.2, 0.2, 0.2, 0.2, 1.4, 1.5, 1.5, 1.3, 1.5, 1.3, 1.6, 1.0, 1.3, 1.4, 1.0, 1.5, 1.0, 1.4, 1.3, 1.4, 1.5, 1.0, 1.5, 1.1, 1.8, 1.3, 1.5, 1.2, 1.3, 1.4, 1.4, 1.7, 1.5, 1.0, 1.1, 1.0, 1.2, 1.6, 1.5, 1.6, 1.5, 1.3, 1.3, 1.3, 1.2, 1.4, 1.2, 1.0, 1.3, 1.2, 1.3, 1.3, 1.1, 1.3, 2.5, 1.9, 2.1, 1.8, 2.2, 2.1, 1.7, 1.8, 1.8, 2.5, 2.0, 1.9, 2.1, 2.0, 2.4, 2.3, 1.8, 2.2, 2.3, 1.5, 2.3, 2.0, 2.0, 1.8, 2.1, 1.8, 1.8, 1.8, 2.1, 1.6, 1.9, 2.0, 2.2, 1.5, 1.4, 2.3, 2.4, 1.8, 1.8, 2.1, 2.4, 2.3, 1.9, 2.3, 2.5, 2.3, 1.9, 2.0, 2.3, 1.8])
(:species, String["setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "setosa", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "versicolor", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica", "virginica"])

In [ ]:
THANKS FOR WATCHING
# Jesus Saves @ JCharisTech
# Credits for Streaming Data =>Justmarkham