## Data Analysis In Julia With DataFrames
### Sorting
+ sort()
+ sort!()
+ - sort() = returns a sorted copy of array leaving array itself unmodified.

In [32]:
using DataFrames

In [33]:
# Sort and Sort!()
arr = [1,30,2,10,7,4,9,5]

8-element Array{Int64,1}:
  1
 30
  2
 10
  7
  4
  9
  5

In [34]:
sort(arr)

8-element Array{Int64,1}:
  1
  2
  4
  5
  7
  9
 10
 30

In [35]:
# unmodified array
arr

8-element Array{Int64,1}:
  1
 30
  2
 10
  7
  4
  9
  5

In [36]:
sort!(arr)

8-element Array{Int64,1}:
  1
  2
  4
  5
  7
  9
 10
 30

In [37]:
# modified array
arr

8-element Array{Int64,1}:
  1
  2
  4
  5
  7
  9
 10
 30

#### Sorting With Dataset

In [ ]:
# Load Our Data Set
# https://archive.ics.uci.edu/ml/datasets/bank+marketing
# modified

In [38]:
df = readtable("newbank_data.csv")

4521×11 DataFrames.DataFrame
│ Row  │ age │ job       │ marital    │ education   │ balance │ loan  │
├──────┼─────┼───────────┼────────────┼─────────────┼─────────┼───────┤
│ 1    │ 48  │ "admin."  │ "divorced" │ "secondary" │ 4099    │ "no"  │
│ 2    │ 53  │ "admin."  │ "married"  │ "secondary" │ 459     │ "no"  │
│ 3    │ 47  │ "admin."  │ "single"   │ "secondary" │ 1544    │ "no"  │
│ 4    │ 40  │ "admin."  │ "single"   │ "secondary" │ 462     │ "yes" │
│ 5    │ 36  │ "admin."  │ "divorced" │ "secondary" │ 356     │ "no"  │
│ 6    │ 25  │ "admin."  │ "single"   │ "tertiary"  │ 1420    │ "no"  │
│ 7    │ 59  │ "admin."  │ "married"  │ "secondary" │ 817     │ "no"  │
│ 8    │ 49  │ "admin."  │ "married"  │ "secondary" │ 197     │ "no"  │
│ 9    │ 41  │ "admin."  │ "married"  │ "secondary" │ 5110    │ "no"  │
│ 10   │ 34  │ "admin."  │ "married"  │ "secondary" │ 1499    │ "no"  │
│ 11   │ 34  │ "admin."  │ "single"   │ "secondary" │ 852     │ "no"  │
⋮
│ 4510 │ 52  │ "unknown" │ "married"  │ "unknown"   │ 1317    │ "no"  │
│ 4511 │ 43  │ "unknown" │ "married"  │ "tertiary"  │ 1937    │ "no"  │
│ 4512 │ 56  │ "unknown" │ "married"  │ "unknown"   │ 0       │ "no"  │
│ 4513 │ 54  │ "unknown" │ "married"  │ "unknown"   │ 2508    │ "no"  │
│ 4514 │ 62  │ "unknown" │ "married"  │ "secondary" │ 367     │ "no"  │
│ 4515 │ 54  │ "unknown" │ "married"  │ "secondary" │ 1157    │ "no"  │
│ 4516 │ 54  │ "unknown" │ "married"  │ "secondary" │ 2206    │ "no"  │
│ 4517 │ 43  │ "unknown" │ "single"   │ "tertiary"  │ 2731    │ "no"  │
│ 4518 │ 54  │ "unknown" │ "married"  │ "unknown"   │ 895     │ "no"  │
│ 4519 │ 53  │ "unknown" │ "married"  │ "primary"   │ 732     │ "no"  │
│ 4520 │ 55  │ "unknown" │ "married"  │ "primary"   │ 159     │ "no"  │
│ 4521 │ 38  │ "unknown" │ "single"   │ "tertiary"  │ 0       │ "no"  │

│ Row  │ contact     │ day │ month │ poutcome  │ y     │
├──────┼─────────────┼─────┼───────┼───────────┼───────┤
│ 1    │ "cellular"  │ 2   │ "apr" │ "unknown" │ "yes" │
│ 2    │ "cellular"  │ 5   │ "apr" │ "unknown" │ "yes" │
│ 3    │ "cellular"  │ 6   │ "apr" │ "failure" │ "no"  │
│ 4    │ "cellular"  │ 6   │ "apr" │ "other"   │ "no"  │
│ 5    │ "cellular"  │ 7   │ "apr" │ "failure" │ "no"  │
│ 6    │ "cellular"  │ 8   │ "apr" │ "unknown" │ "no"  │
│ 7    │ "cellular"  │ 9   │ "apr" │ "unknown" │ "no"  │
│ 8    │ "cellular"  │ 13  │ "apr" │ "failure" │ "yes" │
│ 9    │ "cellular"  │ 13  │ "apr" │ "unknown" │ "no"  │
│ 10   │ "cellular"  │ 13  │ "apr" │ "failure" │ "no"  │
│ 11   │ "cellular"  │ 14  │ "apr" │ "unknown" │ "no"  │
⋮
│ 4510 │ "unknown"   │ 12  │ "jun" │ "unknown" │ "no"  │
│ 4511 │ "unknown"   │ 19  │ "jun" │ "unknown" │ "no"  │
│ 4512 │ "unknown"   │ 20  │ "jun" │ "unknown" │ "no"  │
│ 4513 │ "unknown"   │ 20  │ "jun" │ "unknown" │ "no"  │
│ 4514 │ "telephone" │ 2   │ "mar" │ "unknown" │ "no"  │
│ 4515 │ "cellular"  │ 26  │ "may" │ "unknown" │ "no"  │
│ 4516 │ "cellular"  │ 12  │ "nov" │ "other"   │ "yes" │
│ 4517 │ "cellular"  │ 21  │ "nov" │ "unknown" │ "no"  │
│ 4518 │ "cellular"  │ 7   │ "oct" │ "unknown" │ "yes" │
│ 4519 │ "cellular"  │ 27  │ "oct" │ "unknown" │ "yes" │
│ 4520 │ "unknown"   │ 4   │ "sep" │ "unknown" │ "no"  │
│ 4521 │ "cellular"  │ 11  │ "sep" │ "success" │ "yes" │

In [39]:
head(df,5)

5×11 DataFrames.DataFrame
│ Row │ age │ job      │ marital    │ education   │ balance │ loan  │
├─────┼─────┼──────────┼────────────┼─────────────┼─────────┼───────┤
│ 1   │ 48  │ "admin." │ "divorced" │ "secondary" │ 4099    │ "no"  │
│ 2   │ 53  │ "admin." │ "married"  │ "secondary" │ 459     │ "no"  │
│ 3   │ 47  │ "admin." │ "single"   │ "secondary" │ 1544    │ "no"  │
│ 4   │ 40  │ "admin." │ "single"   │ "secondary" │ 462     │ "yes" │
│ 5   │ 36  │ "admin." │ "divorced" │ "secondary" │ 356     │ "no"  │

│ Row │ contact    │ day │ month │ poutcome  │ y     │
├─────┼────────────┼─────┼───────┼───────────┼───────┤
│ 1   │ "cellular" │ 2   │ "apr" │ "unknown" │ "yes" │
│ 2   │ "cellular" │ 5   │ "apr" │ "unknown" │ "yes" │
│ 3   │ "cellular" │ 6   │ "apr" │ "failure" │ "no"  │
│ 4   │ "cellular" │ 6   │ "apr" │ "other"   │ "no"  │
│ 5   │ "cellular" │ 7   │ "apr" │ "failure" │ "no"  │

In [40]:
names(df)

11-element Array{Symbol,1}:
 :age
 :job
 :marital
 :education
 :balance
 :loan
 :contact
 :day
 :month
 :poutcome
 :y

#### Sorting

In [ ]:
# sort!() Default
# By default it sort by first column and in ascending order
# sort!(DataFrame,cols = [:columns],kwargs)

In [41]:
sort!(df)

4521×11 DataFrames.DataFrame
│ Row  │ age │ job        │ marital    │ education   │ balance │ loan │
├──────┼─────┼────────────┼────────────┼─────────────┼─────────┼──────┤
│ 1    │ 19  │ "student"  │ "single"   │ "primary"   │ 103     │ "no" │
│ 2    │ 19  │ "student"  │ "single"   │ "secondary" │ 302     │ "no" │
│ 3    │ 19  │ "student"  │ "single"   │ "unknown"   │ 0       │ "no" │
│ 4    │ 19  │ "student"  │ "single"   │ "unknown"   │ 1169    │ "no" │
│ 5    │ 20  │ "student"  │ "single"   │ "secondary" │ 291     │ "no" │
│ 6    │ 20  │ "student"  │ "single"   │ "secondary" │ 502     │ "no" │
│ 7    │ 20  │ "student"  │ "single"   │ "secondary" │ 1191    │ "no" │
│ 8    │ 21  │ "services" │ "single"   │ "secondary" │ 361     │ "no" │
│ 9    │ 21  │ "services" │ "single"   │ "secondary" │ 1903    │ "no" │
│ 10   │ 21  │ "student"  │ "single"   │ "secondary" │ 6       │ "no" │
│ 11   │ 21  │ "student"  │ "single"   │ "secondary" │ 681     │ "no" │
⋮
│ 4510 │ 80  │ "retired"  │ "married"  │ "primary"   │ 1548    │ "no" │
│ 4511 │ 80  │ "retired"  │ "married"  │ "secondary" │ 462     │ "no" │
│ 4512 │ 80  │ "retired"  │ "married"  │ "secondary" │ 8304    │ "no" │
│ 4513 │ 80  │ "retired"  │ "married"  │ "secondary" │ 8304    │ "no" │
│ 4514 │ 81  │ "retired"  │ "married"  │ "secondary" │ 1       │ "no" │
│ 4515 │ 83  │ "retired"  │ "divorced" │ "primary"   │ 0       │ "no" │
│ 4516 │ 83  │ "retired"  │ "divorced" │ "primary"   │ 1097    │ "no" │
│ 4517 │ 83  │ "retired"  │ "married"  │ "primary"   │ 425     │ "no" │
│ 4518 │ 83  │ "retired"  │ "married"  │ "secondary" │ 0       │ "no" │
│ 4519 │ 84  │ "retired"  │ "divorced" │ "primary"   │ 639     │ "no" │
│ 4520 │ 86  │ "retired"  │ "married"  │ "secondary" │ 1503    │ "no" │
│ 4521 │ 87  │ "retired"  │ "married"  │ "primary"   │ 230     │ "no" │

│ Row  │ contact     │ day │ month │ poutcome  │ y     │
├──────┼─────────────┼─────┼───────┼───────────┼───────┤
│ 1    │ "cellular"  │ 10  │ "jul" │ "unknown" │ "yes" │
│ 2    │ "cellular"  │ 16  │ "jul" │ "unknown" │ "yes" │
│ 3    │ "cellular"  │ 11  │ "feb" │ "unknown" │ "no"  │
│ 4    │ "cellular"  │ 6   │ "feb" │ "unknown" │ "no"  │
│ 5    │ "telephone" │ 11  │ "may" │ "failure" │ "no"  │
│ 6    │ "cellular"  │ 30  │ "apr" │ "unknown" │ "yes" │
│ 7    │ "cellular"  │ 12  │ "feb" │ "unknown" │ "no"  │
│ 8    │ "telephone" │ 5   │ "jun" │ "other"   │ "no"  │
│ 9    │ "unknown"   │ 29  │ "may" │ "unknown" │ "no"  │
│ 10   │ "unknown"   │ 9   │ "may" │ "unknown" │ "no"  │
│ 11   │ "unknown"   │ 20  │ "aug" │ "unknown" │ "no"  │
⋮
│ 4510 │ "cellular"  │ 6   │ "aug" │ "unknown" │ "no"  │
│ 4511 │ "cellular"  │ 7   │ "dec" │ "unknown" │ "no"  │
│ 4512 │ "telephone" │ 6   │ "apr" │ "success" │ "no"  │
│ 4513 │ "telephone" │ 9   │ "jun" │ "failure" │ "yes" │
│ 4514 │ "cellular"  │ 19  │ "aug" │ "unknown" │ "no"  │
│ 4515 │ "telephone" │ 31  │ "may" │ "success" │ "no"  │
│ 4516 │ "telephone" │ 5   │ "mar" │ "unknown" │ "yes" │
│ 4517 │ "telephone" │ 22  │ "jun" │ "failure" │ "yes" │
│ 4518 │ "cellular"  │ 18  │ "mar" │ "unknown" │ "no"  │
│ 4519 │ "telephone" │ 18  │ "may" │ "unknown" │ "yes" │
│ 4520 │ "telephone" │ 18  │ "mar" │ "other"   │ "no"  │
│ 4521 │ "cellular"  │ 30  │ "oct" │ "unknown" │ "yes" │

In [44]:
sort!(df,cols=[:age])

4521×11 DataFrames.DataFrame
│ Row  │ age │ job          │ marital    │ education   │ balance │ loan │
├──────┼─────┼──────────────┼────────────┼─────────────┼─────────┼──────┤
│ 1    │ 19  │ "student"    │ "single"   │ "unknown"   │ 0       │ "no" │
│ 2    │ 19  │ "student"    │ "single"   │ "primary"   │ 103     │ "no" │
│ 3    │ 19  │ "student"    │ "single"   │ "secondary" │ 302     │ "no" │
│ 4    │ 19  │ "student"    │ "single"   │ "unknown"   │ 1169    │ "no" │
│ 5    │ 20  │ "student"    │ "single"   │ "secondary" │ 291     │ "no" │
│ 6    │ 20  │ "student"    │ "single"   │ "secondary" │ 502     │ "no" │
│ 7    │ 20  │ "student"    │ "single"   │ "secondary" │ 1191    │ "no" │
│ 8    │ 21  │ "student"    │ "single"   │ "secondary" │ 6       │ "no" │
│ 9    │ 21  │ "student"    │ "single"   │ "unknown"   │ 137     │ "no" │
│ 10   │ 21  │ "services"   │ "single"   │ "secondary" │ 361     │ "no" │
│ 11   │ 21  │ "student"    │ "single"   │ "secondary" │ 681     │ "no" │
⋮
│ 4510 │ 80  │ "retired"    │ "married"  │ "primary"   │ 1548    │ "no" │
│ 4511 │ 80  │ "management" │ "married"  │ "primary"   │ 6483    │ "no" │
│ 4512 │ 80  │ "retired"    │ "married"  │ "secondary" │ 8304    │ "no" │
│ 4513 │ 80  │ "retired"    │ "married"  │ "secondary" │ 8304    │ "no" │
│ 4514 │ 81  │ "retired"    │ "married"  │ "secondary" │ 1       │ "no" │
│ 4515 │ 83  │ "retired"    │ "divorced" │ "primary"   │ 0       │ "no" │
│ 4516 │ 83  │ "retired"    │ "married"  │ "secondary" │ 0       │ "no" │
│ 4517 │ 83  │ "retired"    │ "married"  │ "primary"   │ 425     │ "no" │
│ 4518 │ 83  │ "retired"    │ "divorced" │ "primary"   │ 1097    │ "no" │
│ 4519 │ 84  │ "retired"    │ "divorced" │ "primary"   │ 639     │ "no" │
│ 4520 │ 86  │ "retired"    │ "married"  │ "secondary" │ 1503    │ "no" │
│ 4521 │ 87  │ "retired"    │ "married"  │ "primary"   │ 230     │ "no" │

│ Row  │ contact     │ day │ month │ poutcome  │ y     │
├──────┼─────────────┼─────┼───────┼───────────┼───────┤
│ 1    │ "cellular"  │ 11  │ "feb" │ "unknown" │ "no"  │
│ 2    │ "cellular"  │ 10  │ "jul" │ "unknown" │ "yes" │
│ 3    │ "cellular"  │ 16  │ "jul" │ "unknown" │ "yes" │
│ 4    │ "cellular"  │ 6   │ "feb" │ "unknown" │ "no"  │
│ 5    │ "telephone" │ 11  │ "may" │ "failure" │ "no"  │
│ 6    │ "cellular"  │ 30  │ "apr" │ "unknown" │ "yes" │
│ 7    │ "cellular"  │ 12  │ "feb" │ "unknown" │ "no"  │
│ 8    │ "unknown"   │ 9   │ "may" │ "unknown" │ "no"  │
│ 9    │ "unknown"   │ 12  │ "may" │ "unknown" │ "no"  │
│ 10   │ "telephone" │ 5   │ "jun" │ "other"   │ "no"  │
│ 11   │ "unknown"   │ 20  │ "aug" │ "unknown" │ "no"  │
⋮
│ 4510 │ "cellular"  │ 6   │ "aug" │ "unknown" │ "no"  │
│ 4511 │ "telephone" │ 19  │ "oct" │ "unknown" │ "no"  │
│ 4512 │ "telephone" │ 6   │ "apr" │ "success" │ "no"  │
│ 4513 │ "telephone" │ 9   │ "jun" │ "failure" │ "yes" │
│ 4514 │ "cellular"  │ 19  │ "aug" │ "unknown" │ "no"  │
│ 4515 │ "telephone" │ 31  │ "may" │ "success" │ "no"  │
│ 4516 │ "cellular"  │ 18  │ "mar" │ "unknown" │ "no"  │
│ 4517 │ "telephone" │ 22  │ "jun" │ "failure" │ "yes" │
│ 4518 │ "telephone" │ 5   │ "mar" │ "unknown" │ "yes" │
│ 4519 │ "telephone" │ 18  │ "may" │ "unknown" │ "yes" │
│ 4520 │ "telephone" │ 18  │ "mar" │ "other"   │ "no"  │
│ 4521 │ "cellular"  │ 30  │ "oct" │ "unknown" │ "yes" │

In [ ]:
# Comparing sort!() with sort!(cols=[:column1])

In [45]:
sort!(df) == sort!(df,cols=[:age])

true

#### Sorting By Multiple Columns
##### + sort!(DataFrame,cols = [:column1,:column2])

In [47]:
sort!(df,cols=[:age,:balance,:job])

4521×11 DataFrames.DataFrame
│ Row  │ age │ job          │ marital    │ education   │ balance │ loan │
├──────┼─────┼──────────────┼────────────┼─────────────┼─────────┼──────┤
│ 1    │ 19  │ "student"    │ "single"   │ "unknown"   │ 0       │ "no" │
│ 2    │ 19  │ "student"    │ "single"   │ "primary"   │ 103     │ "no" │
│ 3    │ 19  │ "student"    │ "single"   │ "secondary" │ 302     │ "no" │
│ 4    │ 19  │ "student"    │ "single"   │ "unknown"   │ 1169    │ "no" │
│ 5    │ 20  │ "student"    │ "single"   │ "secondary" │ 291     │ "no" │
│ 6    │ 20  │ "student"    │ "single"   │ "secondary" │ 502     │ "no" │
│ 7    │ 20  │ "student"    │ "single"   │ "secondary" │ 1191    │ "no" │
│ 8    │ 21  │ "student"    │ "single"   │ "secondary" │ 6       │ "no" │
│ 9    │ 21  │ "student"    │ "single"   │ "unknown"   │ 137     │ "no" │
│ 10   │ 21  │ "services"   │ "single"   │ "secondary" │ 361     │ "no" │
│ 11   │ 21  │ "student"    │ "single"   │ "secondary" │ 681     │ "no" │
⋮
│ 4510 │ 80  │ "retired"    │ "married"  │ "primary"   │ 1548    │ "no" │
│ 4511 │ 80  │ "management" │ "married"  │ "primary"   │ 6483    │ "no" │
│ 4512 │ 80  │ "retired"    │ "married"  │ "secondary" │ 8304    │ "no" │
│ 4513 │ 80  │ "retired"    │ "married"  │ "secondary" │ 8304    │ "no" │
│ 4514 │ 81  │ "retired"    │ "married"  │ "secondary" │ 1       │ "no" │
│ 4515 │ 83  │ "retired"    │ "divorced" │ "primary"   │ 0       │ "no" │
│ 4516 │ 83  │ "retired"    │ "married"  │ "secondary" │ 0       │ "no" │
│ 4517 │ 83  │ "retired"    │ "married"  │ "primary"   │ 425     │ "no" │
│ 4518 │ 83  │ "retired"    │ "divorced" │ "primary"   │ 1097    │ "no" │
│ 4519 │ 84  │ "retired"    │ "divorced" │ "primary"   │ 639     │ "no" │
│ 4520 │ 86  │ "retired"    │ "married"  │ "secondary" │ 1503    │ "no" │
│ 4521 │ 87  │ "retired"    │ "married"  │ "primary"   │ 230     │ "no" │

│ Row  │ contact     │ day │ month │ poutcome  │ y     │
├──────┼─────────────┼─────┼───────┼───────────┼───────┤
│ 1    │ "cellular"  │ 11  │ "feb" │ "unknown" │ "no"  │
│ 2    │ "cellular"  │ 10  │ "jul" │ "unknown" │ "yes" │
│ 3    │ "cellular"  │ 16  │ "jul" │ "unknown" │ "yes" │
│ 4    │ "cellular"  │ 6   │ "feb" │ "unknown" │ "no"  │
│ 5    │ "telephone" │ 11  │ "may" │ "failure" │ "no"  │
│ 6    │ "cellular"  │ 30  │ "apr" │ "unknown" │ "yes" │
│ 7    │ "cellular"  │ 12  │ "feb" │ "unknown" │ "no"  │
│ 8    │ "unknown"   │ 9   │ "may" │ "unknown" │ "no"  │
│ 9    │ "unknown"   │ 12  │ "may" │ "unknown" │ "no"  │
│ 10   │ "telephone" │ 5   │ "jun" │ "other"   │ "no"  │
│ 11   │ "unknown"   │ 20  │ "aug" │ "unknown" │ "no"  │
⋮
│ 4510 │ "cellular"  │ 6   │ "aug" │ "unknown" │ "no"  │
│ 4511 │ "telephone" │ 19  │ "oct" │ "unknown" │ "no"  │
│ 4512 │ "telephone" │ 6   │ "apr" │ "success" │ "no"  │
│ 4513 │ "telephone" │ 9   │ "jun" │ "failure" │ "yes" │
│ 4514 │ "cellular"  │ 19  │ "aug" │ "unknown" │ "no"  │
│ 4515 │ "telephone" │ 31  │ "may" │ "success" │ "no"  │
│ 4516 │ "cellular"  │ 18  │ "mar" │ "unknown" │ "no"  │
│ 4517 │ "telephone" │ 22  │ "jun" │ "failure" │ "yes" │
│ 4518 │ "telephone" │ 5   │ "mar" │ "unknown" │ "yes" │
│ 4519 │ "telephone" │ 18  │ "may" │ "unknown" │ "yes" │
│ 4520 │ "telephone" │ 18  │ "mar" │ "other"   │ "no"  │
│ 4521 │ "cellular"  │ 30  │ "oct" │ "unknown" │ "yes" │

In [48]:
# Sorting By Ascending Order 
# By Default rev = false
sort!(df,cols=[:age],rev=false)

4521×11 DataFrames.DataFrame
│ Row  │ age │ job          │ marital    │ education   │ balance │ loan │
├──────┼─────┼──────────────┼────────────┼─────────────┼─────────┼──────┤
│ 1    │ 19  │ "student"    │ "single"   │ "unknown"   │ 0       │ "no" │
│ 2    │ 19  │ "student"    │ "single"   │ "primary"   │ 103     │ "no" │
│ 3    │ 19  │ "student"    │ "single"   │ "secondary" │ 302     │ "no" │
│ 4    │ 19  │ "student"    │ "single"   │ "unknown"   │ 1169    │ "no" │
│ 5    │ 20  │ "student"    │ "single"   │ "secondary" │ 291     │ "no" │
│ 6    │ 20  │ "student"    │ "single"   │ "secondary" │ 502     │ "no" │
│ 7    │ 20  │ "student"    │ "single"   │ "secondary" │ 1191    │ "no" │
│ 8    │ 21  │ "student"    │ "single"   │ "secondary" │ 6       │ "no" │
│ 9    │ 21  │ "student"    │ "single"   │ "unknown"   │ 137     │ "no" │
│ 10   │ 21  │ "services"   │ "single"   │ "secondary" │ 361     │ "no" │
│ 11   │ 21  │ "student"    │ "single"   │ "secondary" │ 681     │ "no" │
⋮
│ 4510 │ 80  │ "retired"    │ "married"  │ "primary"   │ 1548    │ "no" │
│ 4511 │ 80  │ "management" │ "married"  │ "primary"   │ 6483    │ "no" │
│ 4512 │ 80  │ "retired"    │ "married"  │ "secondary" │ 8304    │ "no" │
│ 4513 │ 80  │ "retired"    │ "married"  │ "secondary" │ 8304    │ "no" │
│ 4514 │ 81  │ "retired"    │ "married"  │ "secondary" │ 1       │ "no" │
│ 4515 │ 83  │ "retired"    │ "divorced" │ "primary"   │ 0       │ "no" │
│ 4516 │ 83  │ "retired"    │ "married"  │ "secondary" │ 0       │ "no" │
│ 4517 │ 83  │ "retired"    │ "married"  │ "primary"   │ 425     │ "no" │
│ 4518 │ 83  │ "retired"    │ "divorced" │ "primary"   │ 1097    │ "no" │
│ 4519 │ 84  │ "retired"    │ "divorced" │ "primary"   │ 639     │ "no" │
│ 4520 │ 86  │ "retired"    │ "married"  │ "secondary" │ 1503    │ "no" │
│ 4521 │ 87  │ "retired"    │ "married"  │ "primary"   │ 230     │ "no" │

│ Row  │ contact     │ day │ month │ poutcome  │ y     │
├──────┼─────────────┼─────┼───────┼───────────┼───────┤
│ 1    │ "cellular"  │ 11  │ "feb" │ "unknown" │ "no"  │
│ 2    │ "cellular"  │ 10  │ "jul" │ "unknown" │ "yes" │
│ 3    │ "cellular"  │ 16  │ "jul" │ "unknown" │ "yes" │
│ 4    │ "cellular"  │ 6   │ "feb" │ "unknown" │ "no"  │
│ 5    │ "telephone" │ 11  │ "may" │ "failure" │ "no"  │
│ 6    │ "cellular"  │ 30  │ "apr" │ "unknown" │ "yes" │
│ 7    │ "cellular"  │ 12  │ "feb" │ "unknown" │ "no"  │
│ 8    │ "unknown"   │ 9   │ "may" │ "unknown" │ "no"  │
│ 9    │ "unknown"   │ 12  │ "may" │ "unknown" │ "no"  │
│ 10   │ "telephone" │ 5   │ "jun" │ "other"   │ "no"  │
│ 11   │ "unknown"   │ 20  │ "aug" │ "unknown" │ "no"  │
⋮
│ 4510 │ "cellular"  │ 6   │ "aug" │ "unknown" │ "no"  │
│ 4511 │ "telephone" │ 19  │ "oct" │ "unknown" │ "no"  │
│ 4512 │ "telephone" │ 6   │ "apr" │ "success" │ "no"  │
│ 4513 │ "telephone" │ 9   │ "jun" │ "failure" │ "yes" │
│ 4514 │ "cellular"  │ 19  │ "aug" │ "unknown" │ "no"  │
│ 4515 │ "telephone" │ 31  │ "may" │ "success" │ "no"  │
│ 4516 │ "cellular"  │ 18  │ "mar" │ "unknown" │ "no"  │
│ 4517 │ "telephone" │ 22  │ "jun" │ "failure" │ "yes" │
│ 4518 │ "telephone" │ 5   │ "mar" │ "unknown" │ "yes" │
│ 4519 │ "telephone" │ 18  │ "may" │ "unknown" │ "yes" │
│ 4520 │ "telephone" │ 18  │ "mar" │ "other"   │ "no"  │
│ 4521 │ "cellular"  │ 30  │ "oct" │ "unknown" │ "yes" │

In [49]:
# Sorting By Descending Order 
# By Default rev = false
sort!(df,cols =[:age],rev=true)

4521×11 DataFrames.DataFrame
│ Row  │ age │ job         │ marital    │ education   │ balance │ loan │
├──────┼─────┼─────────────┼────────────┼─────────────┼─────────┼──────┤
│ 1    │ 87  │ "retired"   │ "married"  │ "primary"   │ 230     │ "no" │
│ 2    │ 86  │ "retired"   │ "married"  │ "secondary" │ 1503    │ "no" │
│ 3    │ 84  │ "retired"   │ "divorced" │ "primary"   │ 639     │ "no" │
│ 4    │ 83  │ "retired"   │ "divorced" │ "primary"   │ 0       │ "no" │
│ 5    │ 83  │ "retired"   │ "married"  │ "secondary" │ 0       │ "no" │
│ 6    │ 83  │ "retired"   │ "married"  │ "primary"   │ 425     │ "no" │
│ 7    │ 83  │ "retired"   │ "divorced" │ "primary"   │ 1097    │ "no" │
│ 8    │ 81  │ "retired"   │ "married"  │ "secondary" │ 1       │ "no" │
│ 9    │ 80  │ "housemaid" │ "married"  │ "primary"   │ 0       │ "no" │
│ 10   │ 80  │ "retired"   │ "married"  │ "secondary" │ 462     │ "no" │
│ 11   │ 80  │ "retired"   │ "married"  │ "primary"   │ 1548    │ "no" │
⋮
│ 4510 │ 21  │ "services"  │ "single"   │ "secondary" │ 361     │ "no" │
│ 4511 │ 21  │ "student"   │ "single"   │ "secondary" │ 681     │ "no" │
│ 4512 │ 21  │ "services"  │ "single"   │ "secondary" │ 1903    │ "no" │
│ 4513 │ 21  │ "student"   │ "single"   │ "secondary" │ 2488    │ "no" │
│ 4514 │ 21  │ "student"   │ "single"   │ "secondary" │ 6844    │ "no" │
│ 4515 │ 20  │ "student"   │ "single"   │ "secondary" │ 291     │ "no" │
│ 4516 │ 20  │ "student"   │ "single"   │ "secondary" │ 502     │ "no" │
│ 4517 │ 20  │ "student"   │ "single"   │ "secondary" │ 1191    │ "no" │
│ 4518 │ 19  │ "student"   │ "single"   │ "unknown"   │ 0       │ "no" │
│ 4519 │ 19  │ "student"   │ "single"   │ "primary"   │ 103     │ "no" │
│ 4520 │ 19  │ "student"   │ "single"   │ "secondary" │ 302     │ "no" │
│ 4521 │ 19  │ "student"   │ "single"   │ "unknown"   │ 1169    │ "no" │

│ Row  │ contact     │ day │ month │ poutcome  │ y     │
├──────┼─────────────┼─────┼───────┼───────────┼───────┤
│ 1    │ "cellular"  │ 30  │ "oct" │ "unknown" │ "yes" │
│ 2    │ "telephone" │ 18  │ "mar" │ "other"   │ "no"  │
│ 3    │ "telephone" │ 18  │ "may" │ "unknown" │ "yes" │
│ 4    │ "telephone" │ 31  │ "may" │ "success" │ "no"  │
│ 5    │ "cellular"  │ 18  │ "mar" │ "unknown" │ "no"  │
│ 6    │ "telephone" │ 22  │ "jun" │ "failure" │ "yes" │
│ 7    │ "telephone" │ 5   │ "mar" │ "unknown" │ "yes" │
│ 8    │ "cellular"  │ 19  │ "aug" │ "unknown" │ "no"  │
│ 9    │ "cellular"  │ 23  │ "feb" │ "failure" │ "yes" │
│ 10   │ "cellular"  │ 7   │ "dec" │ "unknown" │ "no"  │
│ 11   │ "cellular"  │ 6   │ "aug" │ "unknown" │ "no"  │
⋮
│ 4510 │ "telephone" │ 5   │ "jun" │ "other"   │ "no"  │
│ 4511 │ "unknown"   │ 20  │ "aug" │ "unknown" │ "no"  │
│ 4512 │ "unknown"   │ 29  │ "may" │ "unknown" │ "no"  │
│ 4513 │ "cellular"  │ 30  │ "jun" │ "success" │ "yes" │
│ 4514 │ "cellular"  │ 14  │ "aug" │ "other"   │ "no"  │
│ 4515 │ "telephone" │ 11  │ "may" │ "failure" │ "no"  │
│ 4516 │ "cellular"  │ 30  │ "apr" │ "unknown" │ "yes" │
│ 4517 │ "cellular"  │ 12  │ "feb" │ "unknown" │ "no"  │
│ 4518 │ "cellular"  │ 11  │ "feb" │ "unknown" │ "no"  │
│ 4519 │ "cellular"  │ 10  │ "jul" │ "unknown" │ "yes" │
│ 4520 │ "cellular"  │ 16  │ "jul" │ "unknown" │ "yes" │
│ 4521 │ "cellular"  │ 6   │ "feb" │ "unknown" │ "no"  │

In [ ]:
# Sorting By Order 
# Specify an ordering for a particular column within a set of columns
# sort!(df, cols = [order(:balance,rev = true)])

In [51]:
sort!(df, cols = [order(:balance,rev = false)])

4521×11 DataFrames.DataFrame
│ Row  │ age │ job             │ marital    │ education   │ balance │ loan  │
├──────┼─────┼─────────────────┼────────────┼─────────────┼─────────┼───────┤
│ 1    │ 57  │ "self-employed" │ "married"  │ "tertiary"  │ -3313   │ "yes" │
│ 2    │ 51  │ "entrepreneur"  │ "married"  │ "secondary" │ -2082   │ "yes" │
│ 3    │ 44  │ "management"    │ "married"  │ "secondary" │ -1746   │ "no"  │
│ 4    │ 49  │ "technician"    │ "married"  │ "secondary" │ -1680   │ "yes" │
│ 5    │ 46  │ "blue-collar"   │ "married"  │ "secondary" │ -1400   │ "no"  │
│ 6    │ 44  │ "management"    │ "single"   │ "tertiary"  │ -1313   │ "yes" │
│ 7    │ 42  │ "technician"    │ "married"  │ "secondary" │ -1310   │ "yes" │
│ 8    │ 52  │ "management"    │ "married"  │ "tertiary"  │ -1224   │ "no"  │
│ 9    │ 40  │ "management"    │ "married"  │ "tertiary"  │ -1212   │ "no"  │
│ 10   │ 56  │ "retired"       │ "married"  │ "secondary" │ -1206   │ "no"  │
│ 11   │ 27  │ "services"      │ "married"  │ "secondary" │ -1202   │ "no"  │
⋮
│ 4510 │ 37  │ "management"    │ "married"  │ "primary"   │ 22856   │ "no"  │
│ 4511 │ 33  │ "housemaid"     │ "single"   │ "tertiary"  │ 23663   │ "no"  │
│ 4512 │ 49  │ "retired"       │ "single"   │ "primary"   │ 25824   │ "no"  │
│ 4513 │ 54  │ "management"    │ "divorced" │ "tertiary"  │ 26306   │ "no"  │
│ 4514 │ 50  │ "services"      │ "married"  │ "secondary" │ 26394   │ "no"  │
│ 4515 │ 75  │ "retired"       │ "married"  │ "secondary" │ 26452   │ "no"  │
│ 4516 │ 31  │ "housemaid"     │ "single"   │ "primary"   │ 26965   │ "no"  │
│ 4517 │ 57  │ "technician"    │ "married"  │ "tertiary"  │ 27069   │ "yes" │
│ 4518 │ 36  │ "management"    │ "married"  │ "tertiary"  │ 27359   │ "no"  │
│ 4519 │ 43  │ "technician"    │ "single"   │ "tertiary"  │ 27733   │ "no"  │
│ 4520 │ 42  │ "entrepreneur"  │ "married"  │ "tertiary"  │ 42045   │ "no"  │
│ 4521 │ 60  │ "retired"       │ "married"  │ "primary"   │ 71188   │ "no"  │

│ Row  │ contact     │ day │ month │ poutcome  │ y     │
├──────┼─────────────┼─────┼───────┼───────────┼───────┤
│ 1    │ "unknown"   │ 9   │ "may" │ "unknown" │ "no"  │
│ 2    │ "cellular"  │ 28  │ "jul" │ "unknown" │ "no"  │
│ 3    │ "unknown"   │ 20  │ "jun" │ "unknown" │ "no"  │
│ 4    │ "unknown"   │ 27  │ "jun" │ "unknown" │ "no"  │
│ 5    │ "telephone" │ 6   │ "may" │ "failure" │ "no"  │
│ 6    │ "cellular"  │ 15  │ "may" │ "unknown" │ "no"  │
│ 7    │ "unknown"   │ 28  │ "may" │ "unknown" │ "no"  │
│ 8    │ "cellular"  │ 7   │ "may" │ "unknown" │ "no"  │
│ 9    │ "cellular"  │ 15  │ "may" │ "failure" │ "no"  │
│ 10   │ "cellular"  │ 15  │ "jun" │ "unknown" │ "yes" │
│ 11   │ "unknown"   │ 4   │ "jun" │ "unknown" │ "no"  │
⋮
│ 4510 │ "cellular"  │ 2   │ "jul" │ "failure" │ "no"  │
│ 4511 │ "cellular"  │ 16  │ "apr" │ "failure" │ "no"  │
│ 4512 │ "unknown"   │ 17  │ "jun" │ "unknown" │ "no"  │
│ 4513 │ "cellular"  │ 11  │ "feb" │ "failure" │ "no"  │
│ 4514 │ "cellular"  │ 25  │ "aug" │ "unknown" │ "no"  │
│ 4515 │ "telephone" │ 15  │ "jul" │ "unknown" │ "no"  │
│ 4516 │ "cellular"  │ 21  │ "apr" │ "unknown" │ "yes" │
│ 4517 │ "unknown"   │ 20  │ "jun" │ "unknown" │ "no"  │
│ 4518 │ "unknown"   │ 3   │ "jun" │ "unknown" │ "no"  │
│ 4519 │ "unknown"   │ 3   │ "jun" │ "unknown" │ "no"  │
│ 4520 │ "cellular"  │ 8   │ "aug" │ "unknown" │ "no"  │
│ 4521 │ "cellular"  │ 6   │ "oct" │ "unknown" │ "no"  │

In [58]:
sort!(df,cols =[:age,:job,:day],
rev=(true,false,false))

4521×11 DataFrames.DataFrame
│ Row  │ age │ job          │ marital    │ education   │ balance │ loan │
├──────┼─────┼──────────────┼────────────┼─────────────┼─────────┼──────┤
│ 1    │ 87  │ "retired"    │ "married"  │ "primary"   │ 230     │ "no" │
│ 2    │ 86  │ "retired"    │ "married"  │ "secondary" │ 1503    │ "no" │
│ 3    │ 84  │ "retired"    │ "divorced" │ "primary"   │ 639     │ "no" │
│ 4    │ 83  │ "retired"    │ "divorced" │ "primary"   │ 1097    │ "no" │
│ 5    │ 83  │ "retired"    │ "married"  │ "secondary" │ 0       │ "no" │
│ 6    │ 83  │ "retired"    │ "married"  │ "primary"   │ 425     │ "no" │
│ 7    │ 83  │ "retired"    │ "divorced" │ "primary"   │ 0       │ "no" │
│ 8    │ 81  │ "retired"    │ "married"  │ "secondary" │ 1       │ "no" │
│ 9    │ 80  │ "housemaid"  │ "married"  │ "primary"   │ 0       │ "no" │
│ 10   │ 80  │ "management" │ "married"  │ "primary"   │ 6483    │ "no" │
│ 11   │ 80  │ "retired"    │ "married"  │ "secondary" │ 8304    │ "no" │
⋮
│ 4510 │ 21  │ "student"    │ "single"   │ "secondary" │ 6       │ "no" │
│ 4511 │ 21  │ "student"    │ "single"   │ "unknown"   │ 137     │ "no" │
│ 4512 │ 21  │ "student"    │ "single"   │ "secondary" │ 6844    │ "no" │
│ 4513 │ 21  │ "student"    │ "single"   │ "secondary" │ 681     │ "no" │
│ 4514 │ 21  │ "student"    │ "single"   │ "secondary" │ 2488    │ "no" │
│ 4515 │ 20  │ "student"    │ "single"   │ "secondary" │ 291     │ "no" │
│ 4516 │ 20  │ "student"    │ "single"   │ "secondary" │ 1191    │ "no" │
│ 4517 │ 20  │ "student"    │ "single"   │ "secondary" │ 502     │ "no" │
│ 4518 │ 19  │ "student"    │ "single"   │ "unknown"   │ 1169    │ "no" │
│ 4519 │ 19  │ "student"    │ "single"   │ "primary"   │ 103     │ "no" │
│ 4520 │ 19  │ "student"    │ "single"   │ "unknown"   │ 0       │ "no" │
│ 4521 │ 19  │ "student"    │ "single"   │ "secondary" │ 302     │ "no" │

│ Row  │ contact     │ day │ month │ poutcome  │ y     │
├──────┼─────────────┼─────┼───────┼───────────┼───────┤
│ 1    │ "cellular"  │ 30  │ "oct" │ "unknown" │ "yes" │
│ 2    │ "telephone" │ 18  │ "mar" │ "other"   │ "no"  │
│ 3    │ "telephone" │ 18  │ "may" │ "unknown" │ "yes" │
│ 4    │ "telephone" │ 5   │ "mar" │ "unknown" │ "yes" │
│ 5    │ "cellular"  │ 18  │ "mar" │ "unknown" │ "no"  │
│ 6    │ "telephone" │ 22  │ "jun" │ "failure" │ "yes" │
│ 7    │ "telephone" │ 31  │ "may" │ "success" │ "no"  │
│ 8    │ "cellular"  │ 19  │ "aug" │ "unknown" │ "no"  │
│ 9    │ "cellular"  │ 23  │ "feb" │ "failure" │ "yes" │
│ 10   │ "telephone" │ 19  │ "oct" │ "unknown" │ "no"  │
│ 11   │ "telephone" │ 6   │ "apr" │ "success" │ "no"  │
⋮
│ 4510 │ "unknown"   │ 9   │ "may" │ "unknown" │ "no"  │
│ 4511 │ "unknown"   │ 12  │ "may" │ "unknown" │ "no"  │
│ 4512 │ "cellular"  │ 14  │ "aug" │ "other"   │ "no"  │
│ 4513 │ "unknown"   │ 20  │ "aug" │ "unknown" │ "no"  │
│ 4514 │ "cellular"  │ 30  │ "jun" │ "success" │ "yes" │
│ 4515 │ "telephone" │ 11  │ "may" │ "failure" │ "no"  │
│ 4516 │ "cellular"  │ 12  │ "feb" │ "unknown" │ "no"  │
│ 4517 │ "cellular"  │ 30  │ "apr" │ "unknown" │ "yes" │
│ 4518 │ "cellular"  │ 6   │ "feb" │ "unknown" │ "no"  │
│ 4519 │ "cellular"  │ 10  │ "jul" │ "unknown" │ "yes" │
│ 4520 │ "cellular"  │ 11  │ "feb" │ "unknown" │ "no"  │
│ 4521 │ "cellular"  │ 16  │ "jul" │ "unknown" │ "yes" │

In [ ]:
# THANKS 
#J-Secur1ty
#@JCharisTech
#Jesus saves