## Data Analysis In Julia With DataFrames
### How to Join and Merge DataFrames
+ Join two or more dataset 
+ Merge two or more dataset
-- join()
+ Just like database join and pandas merge

+ Pkg.add("DataFrames")

In [ ]:
using DataFrames

In [2]:
# Loading our dataset
employer = DataFrame( ID = [01,02,03,04,05,09,11,20],
    name=["Matthews","Daniella","Kofi","Vladmir","Jean","James","Ayo","Bill"])

salary = DataFrame(ID = [01,02,03,04,05,06,08,23],
    amount=[2050,3000,3500,3500,2500,3400,2700,4500])

8×2 DataFrames.DataFrame
│ Row │ ID │ amount │
├─────┼────┼────────┤
│ 1   │ 1  │ 2050   │
│ 2   │ 2  │ 3000   │
│ 3   │ 3  │ 3500   │
│ 4   │ 4  │ 3500   │
│ 5   │ 5  │ 2500   │
│ 6   │ 6  │ 3400   │
│ 7   │ 8  │ 2700   │
│ 8   │ 23 │ 4500   │

#### Joining DataFrames
+ syntax => join(Dataframe1,Dataframe2,on=:Column/key to join on,kind=:how to join it)

In [3]:
# left Dataframe ,Right Dataframe
join(employer,salary,on=:ID)

5×3 DataFrames.DataFrame
│ Row │ ID │ name       │ amount │
├─────┼────┼────────────┼────────┤
│ 1   │ 1  │ "Matthews" │ 2050   │
│ 2   │ 2  │ "Daniella" │ 3000   │
│ 3   │ 3  │ "Kofi"     │ 3500   │
│ 4   │ 4  │ "Vladmir"  │ 3500   │
│ 5   │ 5  │ "Jean"     │ 2500   │

In [4]:
# Places NA for columns with dissimilar ID/key
# Kind of Merging or Joining : Left
join(employer,salary,on=:ID,kind=:left)

8×3 DataFrames.DataFrame
│ Row │ ID │ name       │ amount │
├─────┼────┼────────────┼────────┤
│ 1   │ 1  │ "Matthews" │ 2050   │
│ 2   │ 2  │ "Daniella" │ 3000   │
│ 3   │ 3  │ "Kofi"     │ 3500   │
│ 4   │ 4  │ "Vladmir"  │ 3500   │
│ 5   │ 5  │ "Jean"     │ 2500   │
│ 6   │ 9  │ "James"    │ NA     │
│ 7   │ 11 │ "Ayo"      │ NA     │
│ 8   │ 20 │ "Bill"     │ NA     │

In [5]:
# Places NA for columns with dissimilar ID/key
# Kind of Merging or Joining : Right
join(employer,salary,on=:ID,kind=:right)

8×3 DataFrames.DataFrame
│ Row │ name       │ ID │ amount │
├─────┼────────────┼────┼────────┤
│ 1   │ "Matthews" │ 1  │ 2050   │
│ 2   │ "Daniella" │ 2  │ 3000   │
│ 3   │ "Kofi"     │ 3  │ 3500   │
│ 4   │ "Vladmir"  │ 4  │ 3500   │
│ 5   │ "Jean"     │ 5  │ 2500   │
│ 6   │ NA         │ 6  │ 3400   │
│ 7   │ NA         │ 8  │ 2700   │
│ 8   │ NA         │ 23 │ 4500   │

In [6]:
# Kind of Merging or Joining : Outer,Union
join(employer,salary,on=:ID,kind=:outer)

11×3 DataFrames.DataFrame
│ Row │ ID │ name       │ amount │
├─────┼────┼────────────┼────────┤
│ 1   │ 1  │ "Matthews" │ 2050   │
│ 2   │ 2  │ "Daniella" │ 3000   │
│ 3   │ 3  │ "Kofi"     │ 3500   │
│ 4   │ 4  │ "Vladmir"  │ 3500   │
│ 5   │ 5  │ "Jean"     │ 2500   │
│ 6   │ 9  │ "James"    │ NA     │
│ 7   │ 11 │ "Ayo"      │ NA     │
│ 8   │ 20 │ "Bill"     │ NA     │
│ 9   │ 6  │ NA         │ 3400   │
│ 10  │ 8  │ NA         │ 2700   │
│ 11  │ 23 │ NA         │ 4500   │

In [7]:
join(employer,salary,on=:ID,kind=:inner)

5×3 DataFrames.DataFrame
│ Row │ ID │ name       │ amount │
├─────┼────┼────────────┼────────┤
│ 1   │ 1  │ "Matthews" │ 2050   │
│ 2   │ 2  │ "Daniella" │ 3000   │
│ 3   │ 3  │ "Kofi"     │ 3500   │
│ 4   │ 4  │ "Vladmir"  │ 3500   │
│ 5   │ 5  │ "Jean"     │ 2500   │

#### Joining Without Key
+ crosstab

In [8]:
join(employer,salary,kind=:cross)

64×4 DataFrames.DataFrame
│ Row │ ID │ name       │ ID_1 │ amount │
├─────┼────┼────────────┼──────┼────────┤
│ 1   │ 1  │ "Matthews" │ 1    │ 2050   │
│ 2   │ 1  │ "Matthews" │ 2    │ 3000   │
│ 3   │ 1  │ "Matthews" │ 3    │ 3500   │
│ 4   │ 1  │ "Matthews" │ 4    │ 3500   │
│ 5   │ 1  │ "Matthews" │ 5    │ 2500   │
│ 6   │ 1  │ "Matthews" │ 6    │ 3400   │
│ 7   │ 1  │ "Matthews" │ 8    │ 2700   │
│ 8   │ 1  │ "Matthews" │ 23   │ 4500   │
│ 9   │ 2  │ "Daniella" │ 1    │ 2050   │
│ 10  │ 2  │ "Daniella" │ 2    │ 3000   │
│ 11  │ 2  │ "Daniella" │ 3    │ 3500   │
⋮
│ 53  │ 11 │ "Ayo"      │ 5    │ 2500   │
│ 54  │ 11 │ "Ayo"      │ 6    │ 3400   │
│ 55  │ 11 │ "Ayo"      │ 8    │ 2700   │
│ 56  │ 11 │ "Ayo"      │ 23   │ 4500   │
│ 57  │ 20 │ "Bill"     │ 1    │ 2050   │
│ 58  │ 20 │ "Bill"     │ 2    │ 3000   │
│ 59  │ 20 │ "Bill"     │ 3    │ 3500   │
│ 60  │ 20 │ "Bill"     │ 4    │ 3500   │
│ 61  │ 20 │ "Bill"     │ 5    │ 2500   │
│ 62  │ 20 │ "Bill"     │ 6    │ 3400   │
│ 63  │ 20 │ "Bill"     │ 8    │ 2700   │
│ 64  │ 20 │ "Bill"     │ 23   │ 4500   │

In [9]:
# :anti => return rows that do not match with the keys
join(employer,salary,on=:ID,kind=:anti)

3×2 DataFrames.DataFrame
│ Row │ ID │ name    │
├─────┼────┼─────────┤
│ 1   │ 9  │ "James" │
│ 2   │ 11 │ "Ayo"   │
│ 3   │ 20 │ "Bill"  │

In [10]:
# :semi => rows that match keys
join(employer,salary,on=:ID,kind=:semi)

5×2 DataFrames.DataFrame
│ Row │ ID │ name       │
├─────┼────┼────────────┤
│ 1   │ 1  │ "Matthews" │
│ 2   │ 2  │ "Daniella" │
│ 3   │ 3  │ "Kofi"     │
│ 4   │ 4  │ "Vladmir"  │
│ 5   │ 5  │ "Jean"     │

 ### Practice with Real DataSet
#### + From Datahub.io

In [ ]:
using Requests

In [12]:
resp_cons = get_streaming("https://pkgstore.datahub.io/core/s-and-p-500-companies/constituents_csv/data/d477849c9626b01a22abb4dc58571a8e/constituents_csv.csv")
constituent = readtable(resp_cons)

505×3 DataFrames.DataFrame
│ Row │ Symbol │ Name                            │ Sector                   │
├─────┼────────┼─────────────────────────────────┼──────────────────────────┤
│ 1   │ "MMM"  │ "3M Company"                    │ "Industrials"            │
│ 2   │ "ABT"  │ "Abbott Laboratories"           │ "Health Care"            │
│ 3   │ "ABBV" │ "AbbVie"                        │ "Health Care"            │
│ 4   │ "ACN"  │ "Accenture plc"                 │ "Information Technology" │
│ 5   │ "ATVI" │ "Activision Blizzard"           │ "Information Technology" │
│ 6   │ "AYI"  │ "Acuity Brands Inc"             │ "Industrials"            │
│ 7   │ "ADBE" │ "Adobe Systems Inc"             │ "Information Technology" │
│ 8   │ "AAP"  │ "Advance Auto Parts"            │ "Consumer Discretionary" │
│ 9   │ "AES"  │ "AES Corp"                      │ "Utilities"              │
│ 10  │ "AET"  │ "Aetna Inc"                     │ "Health Care"            │
│ 11  │ "AMG"  │ "Affiliated Managers Group Inc" │ "Financials"             │
⋮
│ 494 │ "WYN"  │ "Wyndham Worldwide"             │ "Consumer Discretionary" │
│ 495 │ "WYNN" │ "Wynn Resorts Ltd"              │ "Consumer Discretionary" │
│ 496 │ "XEL"  │ "Xcel Energy Inc"               │ "Utilities"              │
│ 497 │ "XRX"  │ "Xerox Corp."                   │ "Information Technology" │
│ 498 │ "XLNX" │ "Xilinx Inc"                    │ "Information Technology" │
│ 499 │ "XL"   │ "XL Capital"                    │ "Financials"             │
│ 500 │ "XYL"  │ "Xylem Inc."                    │ "Industrials"            │
│ 501 │ "YHOO" │ "Yahoo Inc."                    │ "Information Technology" │
│ 502 │ "YUM"  │ "Yum! Brands Inc"               │ "Consumer Discretionary" │
│ 503 │ "ZBH"  │ "Zimmer Biomet Holdings"        │ "Health Care"            │
│ 504 │ "ZION" │ "Zions Bancorp"                 │ "Financials"             │
│ 505 │ "ZTS"  │ "Zoetis"                        │ "Health Care"            │

In [13]:
resp_cons_financ = get_streaming("https://pkgstore.datahub.io/core/s-and-p-500-companies/constituents-financials_csv/data/958f8529199d73e1e143e91513f04840/constituents-financials_csv.csv")
constituent_finan = readtable(resp_cons_financ)

505×15 DataFrames.DataFrame
│ Row │ Symbol │ Name                            │ Sector                   │
├─────┼────────┼─────────────────────────────────┼──────────────────────────┤
│ 1   │ "MMM"  │ "3M Company"                    │ "Industrials"            │
│ 2   │ "ABT"  │ "Abbott Laboratories"           │ "Health Care"            │
│ 3   │ "ABBV" │ "AbbVie"                        │ "Health Care"            │
│ 4   │ "ACN"  │ "Accenture plc"                 │ "Information Technology" │
│ 5   │ "ATVI" │ "Activision Blizzard"           │ "Information Technology" │
│ 6   │ "AYI"  │ "Acuity Brands Inc"             │ "Industrials"            │
│ 7   │ "ADBE" │ "Adobe Systems Inc"             │ "Information Technology" │
│ 8   │ "AAP"  │ "Advance Auto Parts"            │ "Consumer Discretionary" │
│ 9   │ "AES"  │ "AES Corp"                      │ "Utilities"              │
│ 10  │ "AET"  │ "Aetna Inc"                     │ "Health Care"            │
│ 11  │ "AMG"  │ "Affiliated Managers Group Inc" │ "Financials"             │
⋮
│ 494 │ "WYN"  │ "Wyndham Worldwide"             │ "Consumer Discretionary" │
│ 495 │ "WYNN" │ "Wynn Resorts Ltd"              │ "Consumer Discretionary" │
│ 496 │ "XEL"  │ "Xcel Energy Inc"               │ "Utilities"              │
│ 497 │ "XRX"  │ "Xerox Corp."                   │ "Information Technology" │
│ 498 │ "XLNX" │ "Xilinx Inc"                    │ "Information Technology" │
│ 499 │ "XL"   │ "XL Capital"                    │ "Financials"             │
│ 500 │ "XYL"  │ "Xylem Inc."                    │ "Industrials"            │
│ 501 │ "YHOO" │ "Yahoo Inc."                    │ "Information Technology" │
│ 502 │ "YUM"  │ "Yum! Brands Inc"               │ "Consumer Discretionary" │
│ 503 │ "ZBH"  │ "Zimmer Biomet Holdings"        │ "Health Care"            │
│ 504 │ "ZION" │ "Zions Bancorp"                 │ "Financials"             │
│ 505 │ "ZTS"  │ "Zoetis"                        │ "Health Care"            │

│ Row │ Price  │ Dividend_Yield │ Price_Earnings │ Earnings_Share │ Book_Value │
├─────┼────────┼────────────────┼────────────────┼────────────────┼────────────┤
│ 1   │ 189.09 │ 2.48           │ 23.17          │ 8.16           │ 17.26      │
│ 2   │ 45.0   │ 2.34           │ 48.03          │ 0.94           │ 13.94      │
│ 3   │ 63.69  │ 4.04           │ 17.55          │ 3.63           │ 2.91       │
│ 4   │ 124.14 │ 1.96           │ 18.37          │ 6.76           │ 11.95      │
│ 5   │ 48.06  │ 0.64           │ 37.55          │ 1.28           │ 12.23      │
│ 6   │ 205.41 │ 0.25           │ 29.68          │ 6.92           │ 39.5       │
│ 7   │ 119.98 │ 0.0            │ 51.72          │ 2.32           │ 15.02      │
│ 8   │ 151.99 │ 0.15           │ 24.51          │ 6.2            │ 39.66      │
│ 9   │ 11.33  │ 4.16           │ NA             │ -1.71          │ 4.24       │
│ 10  │ 130.59 │ 1.53           │ 20.37          │ 6.41           │ 50.84      │
│ 11  │ 166.56 │ 0.47           │ 19.44          │ 8.57           │ 63.84      │
⋮
│ 494 │ 82.19  │ 2.52           │ 14.86          │ 5.53           │ 6.76       │
│ 495 │ 99.46  │ 1.98           │ 41.79          │ 2.38           │ 1.55       │
│ 496 │ 43.82  │ 3.29           │ 19.85          │ 2.21           │ 21.73      │
│ 497 │ 7.36   │ 3.4            │ NA             │ -0.49          │ 4.74       │
│ 498 │ 58.75  │ 2.25           │ 25.77          │ 2.28           │ 9.97       │
│ 499 │ 40.13  │ 2.18           │ 25.72          │ 1.56           │ 40.99      │
│ 500 │ 48.78  │ 1.48           │ 33.64          │ 1.45           │ 12.21      │
│ 501 │ 45.73  │ NA             │ NA             │ -0.23          │ 32.5       │
│ 502 │ 64.02  │ 2.66           │ 15.83          │ 4.04           │ -15.93     │
│ 503 │ 117.07 │ 0.81           │ 77.53          │ 1.51           │ 48.2       │
│ 504 │ 45.28  │ 0.71           │ 22.75          │ 1.99           │ 34.1       │
│ 505 │ 53.07  │ 0.79           │ 32.16          │ 1.65           │ 3.02       │

│ Row │ x52_week_low │ x52_week_high │ Market_Cap │ EBITDA  │ Price_Sales │
├─────┼──────────────┼───────────────┼────────────┼─────────┼─────────────┤
│ 1   │ 158.28       │ 190.54        │ 112.74     │ 8.7     │ 3.74        │
│ 2   │ 36.76        │ 45.83         │ 77.76      │ 4.59    │ 3.74        │
│ 3   │ 54.41        │ 68.12         │ 101.52     │ 10.95   │ 3.95        │
│ 4   │ 102.1        │ 125.72        │ 77.29      │ 5.66    │ 2.3         │
│ 5   │ 30.37        │ 48.36         │ 36.13      │ 2.14    │ 5.44        │
│ 6   │ 193.06       │ 280.89        │ 9.0        │ 0.5862  │ 2.64        │
│ 7   │ 83.25        │ 120.69        │ 59.28      │ 1.82    │ 10.14       │
│ 8   │ 132.98       │ 177.83        │ 11.18      │ 1.12    │ 1.19        │
│ 9   │ 10.27        │ 13.32         │ 7.47       │ 3.42    │ 0.56        │
│ 10  │ 104.59       │ 136.5         │ 45.93      │ 6.2     │ 0.73        │
│ 11  │ 130.48       │ 179.85        │ 9.44       │ 0.835   │ 4.32        │
⋮
│ 494 │ 62.6         │ 86.72         │ 8.63       │ 1.31    │ 1.68        │
│ 495 │ 79.77        │ 109.5         │ 10.11      │ 0.95059 │ 2.28        │
│ 496 │ 38.0         │ 45.42         │ 22.23      │ 3.65    │ 1.99        │
│ 497 │ 6.46         │ 11.39         │ 7.48       │ 1.52    │ 0.7         │
│ 498 │ 41.53        │ 62.24         │ 14.62      │ 0.76713 │ 6.33        │
│ 499 │ 30.33        │ 41.39         │ 10.63      │ 1.1     │ 1.0         │
│ 500 │ 37.58        │ 54.99         │ 8.75       │ 0.615   │ 2.31        │
│ 501 │ 32.09        │ 46.72         │ 43.74      │ 0.2268  │ 8.45        │
│ 502 │ 59.57        │ 91.99         │ 22.65      │ 1.96    │ 3.59        │
│ 503 │ 95.63        │ 133.21        │ 23.54      │ 2.8     │ 3.07        │
│ 504 │ 23.02        │ 48.33         │ 9.17       │ 0.0     │ 4.01        │
│ 505 │ 39.35        │ 56.5          │ 26.11      │ 1.7     │ 5.34        │

│ Row │ Price_Book │
├─────┼────────────┤
│ 1   │ 10.95      │
│ 2   │ 3.24       │
│ 3   │ 21.83      │
│ 4   │ 10.32      │
│ 5   │ 3.91       │
│ 6   │ 5.19       │
│ 7   │ 8.0        │
│ 8   │ 3.89       │
│ 9   │ 2.72       │
│ 10  │ 2.58       │
│ 11  │ 2.62       │
⋮
│ 494 │ 12.17      │
│ 495 │ 64.59      │
│ 496 │ 2.01       │
│ 497 │ 1.57       │
│ 498 │ 5.9        │
│ 499 │ 0.97       │
│ 500 │ 3.97       │
│ 501 │ 1.4        │
│ 502 │ NA         │
│ 503 │ 2.43       │
│ 504 │ 1.33       │
│ 505 │ 17.59      │

│ Row │ SEC_Filings                                                          │
├─────┼──────────────────────────────────────────────────────────────────────┤
│ 1   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=MMM"  │
│ 2   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ABT"  │
│ 3   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ABBV" │
│ 4   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ACN"  │
│ 5   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ATVI" │
│ 6   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=AYI"  │
│ 7   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ADBE" │
│ 8   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=AAP"  │
│ 9   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=AES"  │
│ 10  │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=AET"  │
│ 11  │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=AMG"  │
⋮
│ 494 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=WYN"  │
│ 495 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=WYNN" │
│ 496 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=XEL"  │
│ 497 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=XRX"  │
│ 498 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=XLNX" │
│ 499 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=XL"   │
│ 500 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=XYL"  │
│ 501 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=YHOO" │
│ 502 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=YUM"  │
│ 503 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ZBH"  │
│ 504 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ZION" │
│ 505 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ZTS"  │

In [14]:
df2 = join(constituent,constituent_finan,on=:Name,kind=:inner)

507×17 DataFrames.DataFrame
│ Row │ Symbol │ Name                     │ Sector                        │
├─────┼────────┼──────────────────────────┼───────────────────────────────┤
│ 1   │ "MMM"  │ "3M Company"             │ "Industrials"                 │
│ 2   │ "AES"  │ "AES Corp"               │ "Utilities"                   │
│ 3   │ "AFL"  │ "AFLAC Inc"              │ "Financials"                  │
│ 4   │ "AME"  │ "AMETEK Inc"             │ "Industrials"                 │
│ 5   │ "T"    │ "AT&T Inc"               │ "Telecommunications Services" │
│ 6   │ "ABBV" │ "AbbVie"                 │ "Health Care"                 │
│ 7   │ "ABT"  │ "Abbott Laboratories"    │ "Health Care"                 │
│ 8   │ "ACN"  │ "Accenture plc"          │ "Information Technology"      │
│ 9   │ "ATVI" │ "Activision Blizzard"    │ "Information Technology"      │
│ 10  │ "AYI"  │ "Acuity Brands Inc"      │ "Industrials"                 │
│ 11  │ "ADBE" │ "Adobe Systems Inc"      │ "Information Technology"      │
⋮
│ 496 │ "WYNN" │ "Wynn Resorts Ltd"       │ "Consumer Discretionary"      │
│ 497 │ "XL"   │ "XL Capital"             │ "Financials"                  │
│ 498 │ "XEL"  │ "Xcel Energy Inc"        │ "Utilities"                   │
│ 499 │ "XRX"  │ "Xerox Corp."            │ "Information Technology"      │
│ 500 │ "XLNX" │ "Xilinx Inc"             │ "Information Technology"      │
│ 501 │ "XYL"  │ "Xylem Inc."             │ "Industrials"                 │
│ 502 │ "YHOO" │ "Yahoo Inc."             │ "Information Technology"      │
│ 503 │ "YUM"  │ "Yum! Brands Inc"        │ "Consumer Discretionary"      │
│ 504 │ "ZBH"  │ "Zimmer Biomet Holdings" │ "Health Care"                 │
│ 505 │ "ZION" │ "Zions Bancorp"          │ "Financials"                  │
│ 506 │ "ZTS"  │ "Zoetis"                 │ "Health Care"                 │
│ 507 │ "EBAY" │ "eBay Inc."              │ "Information Technology"      │

│ Row │ Symbol_1 │ Sector_1                      │ Price  │ Dividend_Yield │
├─────┼──────────┼───────────────────────────────┼────────┼────────────────┤
│ 1   │ "MMM"    │ "Industrials"                 │ 189.09 │ 2.48           │
│ 2   │ "AES"    │ "Utilities"                   │ 11.33  │ 4.16           │
│ 3   │ "AFL"    │ "Financials"                  │ 71.95  │ 2.38           │
│ 4   │ "AME"    │ "Industrials"                 │ 54.51  │ 0.66           │
│ 5   │ "T"      │ "Telecommunications Services" │ 41.88  │ 4.67           │
│ 6   │ "ABBV"   │ "Health Care"                 │ 63.69  │ 4.04           │
│ 7   │ "ABT"    │ "Health Care"                 │ 45.0   │ 2.34           │
│ 8   │ "ACN"    │ "Information Technology"      │ 124.14 │ 1.96           │
│ 9   │ "ATVI"   │ "Information Technology"      │ 48.06  │ 0.64           │
│ 10  │ "AYI"    │ "Industrials"                 │ 205.41 │ 0.25           │
│ 11  │ "ADBE"   │ "Information Technology"      │ 119.98 │ 0.0            │
⋮
│ 496 │ "WYNN"   │ "Consumer Discretionary"      │ 99.46  │ 1.98           │
│ 497 │ "XL"     │ "Financials"                  │ 40.13  │ 2.18           │
│ 498 │ "XEL"    │ "Utilities"                   │ 43.82  │ 3.29           │
│ 499 │ "XRX"    │ "Information Technology"      │ 7.36   │ 3.4            │
│ 500 │ "XLNX"   │ "Information Technology"      │ 58.75  │ 2.25           │
│ 501 │ "XYL"    │ "Industrials"                 │ 48.78  │ 1.48           │
│ 502 │ "YHOO"   │ "Information Technology"      │ 45.73  │ NA             │
│ 503 │ "YUM"    │ "Consumer Discretionary"      │ 64.02  │ 2.66           │
│ 504 │ "ZBH"    │ "Health Care"                 │ 117.07 │ 0.81           │
│ 505 │ "ZION"   │ "Financials"                  │ 45.28  │ 0.71           │
│ 506 │ "ZTS"    │ "Health Care"                 │ 53.07  │ 0.79           │
│ 507 │ "EBAY"   │ "Information Technology"      │ 33.47  │ NA             │

│ Row │ Price_Earnings │ Earnings_Share │ Book_Value │ x52_week_low │
├─────┼────────────────┼────────────────┼────────────┼──────────────┤
│ 1   │ 23.17          │ 8.16           │ 17.26      │ 158.28       │
│ 2   │ NA             │ -1.71          │ 4.24       │ 10.27        │
│ 3   │ 11.21          │ 6.42           │ 50.47      │ 59.66        │
│ 4   │ 24.89          │ 2.19           │ 14.2       │ 43.28        │
│ 5   │ 19.95          │ 2.1            │ 20.06      │ 36.1         │
│ 6   │ 17.55          │ 3.63           │ 2.91       │ 54.41        │
│ 7   │ 48.03          │ 0.94           │ 13.94      │ 36.76        │
│ 8   │ 18.37          │ 6.76           │ 11.95      │ 102.1        │
│ 9   │ 37.55          │ 1.28           │ 12.23      │ 30.37        │
│ 10  │ 29.68          │ 6.92           │ 39.5       │ 193.06       │
│ 11  │ 51.72          │ 2.32           │ 15.02      │ 83.25        │
⋮
│ 496 │ 41.79          │ 2.38           │ 1.55       │ 79.77        │
│ 497 │ 25.72          │ 1.56           │ 40.99      │ 30.33        │
│ 498 │ 19.85          │ 2.21           │ 21.73      │ 38.0         │
│ 499 │ NA             │ -0.49          │ 4.74       │ 6.46         │
│ 500 │ 25.77          │ 2.28           │ 9.97       │ 41.53        │
│ 501 │ 33.64          │ 1.45           │ 12.21      │ 37.58        │
│ 502 │ NA             │ -0.23          │ 32.5       │ 32.09        │
│ 503 │ 15.83          │ 4.04           │ -15.93     │ 59.57        │
│ 504 │ 77.53          │ 1.51           │ 48.2       │ 95.63        │
│ 505 │ 22.75          │ 1.99           │ 34.1       │ 23.02        │
│ 506 │ 32.16          │ 1.65           │ 3.02       │ 39.35        │
│ 507 │ 5.27           │ 6.35           │ 9.69       │ 22.3         │

│ Row │ x52_week_high │ Market_Cap │ EBITDA  │ Price_Sales │ Price_Book │
├─────┼───────────────┼────────────┼─────────┼─────────────┼────────────┤
│ 1   │ 190.54        │ 112.74     │ 8.7     │ 3.74        │ 10.95      │
│ 2   │ 13.32         │ 7.47       │ 3.42    │ 0.56        │ 2.72       │
│ 3   │ 74.5          │ 28.88      │ 4.78    │ 1.27        │ 1.43       │
│ 4   │ 55.48         │ 12.51      │ 1.01    │ 3.26        │ 3.85       │
│ 5   │ 43.89         │ 257.21     │ 49.74   │ 1.57        │ 2.09       │
│ 6   │ 68.12         │ 101.52     │ 10.95   │ 3.95        │ 21.83      │
│ 7   │ 45.83         │ 77.76      │ 4.59    │ 3.74        │ 3.24       │
│ 8   │ 125.72        │ 77.29      │ 5.66    │ 2.3         │ 10.32      │
│ 9   │ 48.36         │ 36.13      │ 2.14    │ 5.44        │ 3.91       │
│ 10  │ 280.89        │ 9.0        │ 0.5862  │ 2.64        │ 5.19       │
│ 11  │ 120.69        │ 59.28      │ 1.82    │ 10.14       │ 8.0        │
⋮
│ 496 │ 109.5         │ 10.11      │ 0.95059 │ 2.28        │ 64.59      │
│ 497 │ 41.39         │ 10.63      │ 1.1     │ 1.0         │ 0.97       │
│ 498 │ 45.42         │ 22.23      │ 3.65    │ 1.99        │ 2.01       │
│ 499 │ 11.39         │ 7.48       │ 1.52    │ 0.7         │ 1.57       │
│ 500 │ 62.24         │ 14.62      │ 0.76713 │ 6.33        │ 5.9        │
│ 501 │ 54.99         │ 8.75       │ 0.615   │ 2.31        │ 3.97       │
│ 502 │ 46.72         │ 43.74      │ 0.2268  │ 8.45        │ 1.4        │
│ 503 │ 91.99         │ 22.65      │ 1.96    │ 3.59        │ NA         │
│ 504 │ 133.21        │ 23.54      │ 2.8     │ 3.07        │ 2.43       │
│ 505 │ 48.33         │ 9.17       │ 0.0     │ 4.01        │ 1.33       │
│ 506 │ 56.5          │ 26.11      │ 1.7     │ 5.34        │ 17.59      │
│ 507 │ 34.43         │ 36.38      │ 3.01    │ 4.07        │ 3.47       │

│ Row │ SEC_Filings                                                          │
├─────┼──────────────────────────────────────────────────────────────────────┤
│ 1   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=MMM"  │
│ 2   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=AES"  │
│ 3   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=AFL"  │
│ 4   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=AME"  │
│ 5   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=T"    │
│ 6   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ABBV" │
│ 7   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ABT"  │
│ 8   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ACN"  │
│ 9   │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ATVI" │
│ 10  │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=AYI"  │
│ 11  │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ADBE" │
⋮
│ 496 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=WYNN" │
│ 497 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=XL"   │
│ 498 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=XEL"  │
│ 499 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=XRX"  │
│ 500 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=XLNX" │
│ 501 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=XYL"  │
│ 502 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=YHOO" │
│ 503 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=YUM"  │
│ 504 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ZBH"  │
│ 505 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ZION" │
│ 506 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=ZTS"  │
│ 507 │ "http://www.sec.gov/cgi-bin/browse-edgar?action=getcompany&CIK=EBAY" │

In [15]:
showcols(df2)

507×17 DataFrames.DataFrame
│ Col # │ Name           │ Eltype  │ Missing │
├───────┼────────────────┼─────────┼─────────┤
│ 1     │ Symbol         │ String  │ 0       │
│ 2     │ Name           │ String  │ 0       │
│ 3     │ Sector         │ String  │ 0       │
│ 4     │ Symbol_1       │ String  │ 0       │
│ 5     │ Sector_1       │ String  │ 0       │
│ 6     │ Price          │ Float64 │ 2       │
│ 7     │ Dividend_Yield │ Float64 │ 68      │
│ 8     │ Price_Earnings │ Float64 │ 56      │
│ 9     │ Earnings_Share │ Float64 │ 1       │
│ 10    │ Book_Value     │ Float64 │ 2       │
│ 11    │ x52_week_low   │ Float64 │ 2       │
│ 12    │ x52_week_high  │ Float64 │ 2       │
│ 13    │ Market_Cap     │ Float64 │ 2       │
│ 14    │ EBITDA         │ Float64 │ 2       │
│ 15    │ Price_Sales    │ Float64 │ 2       │
│ 16    │ Price_Book     │ Float64 │ 21      │
│ 17    │ SEC_Filings    │ String  │ 0       │

In [18]:
employer1 = DataFrame( ID = [01,02,03,04,05,09,11,20,30,204],
    name=["Matthews","Daniella","Kofi","Vladmir","Jean","James","Ayo","Bill","Jes","Mary"])

10×2 DataFrames.DataFrame
│ Row │ ID  │ name       │
├─────┼─────┼────────────┤
│ 1   │ 1   │ "Matthews" │
│ 2   │ 2   │ "Daniella" │
│ 3   │ 3   │ "Kofi"     │
│ 4   │ 4   │ "Vladmir"  │
│ 5   │ 5   │ "Jean"     │
│ 6   │ 9   │ "James"    │
│ 7   │ 11  │ "Ayo"      │
│ 8   │ 20  │ "Bill"     │
│ 9   │ 30  │ "Jes"      │
│ 10  │ 204 │ "Mary"     │

In [ ]:
# Difference Between join and append!

In [19]:
append!(employer,employer1)

20×2 DataFrames.DataFrame
│ Row │ ID  │ name       │
├─────┼─────┼────────────┤
│ 1   │ 1   │ "Matthews" │
│ 2   │ 2   │ "Daniella" │
│ 3   │ 3   │ "Kofi"     │
│ 4   │ 4   │ "Vladmir"  │
│ 5   │ 5   │ "Jean"     │
│ 6   │ 9   │ "James"    │
│ 7   │ 11  │ "Ayo"      │
│ 8   │ 20  │ "Bill"     │
│ 9   │ 30  │ "Jes"      │
│ 10  │ 204 │ "Mary"     │
│ 11  │ 1   │ "Matthews" │
│ 12  │ 2   │ "Daniella" │
│ 13  │ 3   │ "Kofi"     │
│ 14  │ 4   │ "Vladmir"  │
│ 15  │ 5   │ "Jean"     │
│ 16  │ 9   │ "James"    │
│ 17  │ 11  │ "Ayo"      │
│ 18  │ 20  │ "Bill"     │
│ 19  │ 30  │ "Jes"      │
│ 20  │ 204 │ "Mary"     │

In [ ]:
# THANKS
# J-Secur1ty @JCharisTech
# Jesus Saves